<template>
  <div class="auth-layout">
    <div class="form">
      <router-view />
    </div>
    <div class="right-bg"></div>
  </div>
</template>

<script>

export default {
  name: 'MainShell',
};
</script>

<style lang="scss" scoped>
  .auth-layout {
    height: 100vh;
    display: flex;

    .form {
      width: 60%;
    }

    .right-bg {
      width: 40%;
      background: url("../assets/img/bg.jpg") no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }
  }

</style>