<template>
  <div class="layout">

    <left-menu @toggle="onToggleCollapse"></left-menu>

    <navbar-app :class="{ 'navbarHead': true, 'active': collapsed }" :login-btn="true" />
    <!--      <div class="content">-->
    <p v-if="pageTitle !== ''" class="page-title" :class="{'main-content': true, 'collapsed': collapsed}">
      {{ pageTitle }}
    </p>

    <router-view :class="{'main-content': true, 'collapsed': collapsed}"></router-view>
    <!--      </div>-->

  </div>
</template>

<script>
import NavbarApp from '../components/NavbarApp';
import LeftMenu from '../components/menu/LeftMenu';

export default {
  name: 'MainShell',
  components: {
    NavbarApp,
    LeftMenu,
  },
  data() {
    return {
      collapsed: false,
    };
  },
  computed: {
    pageTitle() {
      return this.$store.getters['common/pageTitle'];
    },
  },
  methods: {
    onToggleCollapse(collapsed) {
      this.collapsed = !!collapsed;
    },
  },
};
</script>

<style lang="scss" scoped>
  aside {
    position: fixed;
    left: 0;
    border-right: 2px solid #E4E4E4;
  }

  .main-content {
    margin-left: 285px;
    margin-right: 20px;

    &.collapsed {
      margin-left: 52px;
    }
  }

  /*main {*/
  /*  padding-left: 250px;*/
  /*}*/

  .navbarHead {
    margin-left: 265px;

    &.active {
      margin-left: 52px;
    }
  }

  .page-title {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #0C163A;
  }

  .main-container {
    width: 100%;
    transition: 0.3s ease;
    margin-left: 250px;

    &.collapsed {
      margin-left: 0;

      .v-sidebar-menu.vsm_white-theme {
        .header {
          padding: 0;
        }
      }
    }

    .content {
      padding: 8px 72px;


    }
  }
</style>