// colors
$white: #fff;
$black: #000;
$blue: #0F69FF;
$red: #FF0B37;
$green: #2DCA73;
$darkgreen: #219653;
$orange: #FF6628;
$grey: #F2F3FF;
$darkgrey: #E7F0FF;
$silver: #808191;
$dark-silver: #C4C4C4;
$bg-color: #F9F9FA;


// border
$border-blue: 2px solid $blue;
$border-grey: 1px solid $grey;

//border radius
$radius: .5rem;
$radius-card: .625rem;
$radius-dd: 1.25rem;
$radius-modal: 1.5rem;