.btn {
  &:focus {
    box-shadow: unset;
    outline: none;
  }
}

.btn-blue {
  background-color: $blue;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: $white;
  padding: 12px 24px;

  &:hover {
    background-color: lighten($blue, 8%);
    color: $white;
  }
}

.btn-outline-blue {
  border: 3px solid $blue;
  color: $blue;
  font-weight: bold;
  padding: 12px 24px;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  margin-right: 1rem;

  &:hover {
    color: $blue;
  }
}

.btn-silver {
  padding: 12px 24px;
  background-color: $grey;
  font-weight: bold;
  color: $silver;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;

  &:hover {
    color: $silver;
  }
}

.text-blue {
  color: $blue
}

.text-silver {
  color: $silver
}

.text-green {
  color: $green
}

.vue-tabs .nav-pills > li.active > a,
.vue-tabs .nav-pills > li.active > a:focus,
.vue-tabs .nav-pills > li.active > a:hover {
  box-shadow: unset;
}

.swiper-container {
  padding: 16px !important;
}