<template>
  <div :class="{ menu: true, active: collapsed }">
    <div slot="header" class="header">
      <button class="btn bg-transparent" @click="toggleMenu">
          <span>
            <svg :class="{ toggleIcon: true, active: collapsed }" width="32" height="32" viewBox="0 0 32 32" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M16.9422 10.3431L15.0566 8.45752L7.51416 16L15.0566 23.5424L16.9422 21.6568L11.2854 16L16.9422 10.3431ZM22.599 8.45752L24.4846 10.3431L18.8278 16L24.4846 21.6568L22.599 23.5425L15.0566 16L22.599 8.45752Z"
                  fill="#0F69FF" />
          </svg>
          </span>
      </button>
    </div>

    <ul class="menu-links">
      <router-link
        class="menu-link"
        v-for="(link, index) in links"
        :to="link.href"
        tag="li"
        :key="index"
        active-class="menu-active"
        exact
      >
        <span class="icon" v-html="link.icon.attributes.src"></span>
        <span class="title">{{ link.title }}</span>
      </router-link>

      <li class="menu-link" @click="onLogout">
        <span class="icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M4.51465 20H8.51465V18H4.51465V6H8.51465V4H4.51465C3.41008 4 2.51465 4.89543 2.51465 6V18C2.51465 19.1046 3.41008 20 4.51465 20ZM15.2624 15.9768L13.8422 17.385L7.50527 10.9941L13.8962 4.6572L15.3044 6.0774L11.3239 10.0242H20.4861C21.0384 10.0242 21.4861 10.4719 21.4861 11.0242C21.4861 11.5765 21.0384 12.0242 20.4861 12.0242H11.3432L15.2624 15.9768Z"
                  fill="#0F69FF" />
          </svg>
        </span>

        <span class="title">Выйти</span>
      </li>
    </ul>
  </div>
</template>

<script>
import menu from './configs';

export default {
  name: 'LeftMenu',
  data() {
    return {
      links: menu,
      collapsed: false,
    };
  },
  methods: {
    toggleMenu() {
      this.collapsed = !this.collapsed;
      this.$emit('toggle', this.collapsed);
    },
    async onLogout() {
      await this.$store.dispatch('auth/logout');
      await this.$router.push({ name: 'login' });
    },
  },
};
</script>

<style lang="scss" scoped>
  .toggleIcon {
    transform: rotate(0deg);
    transition: transform .4s ease;

    &.active {
      transform: rotate(180deg);
    }
  }

  .menu {
    position: fixed;
    left: 0;
    width: 250px;
    height: 100vh;
    transition: all .2s ease-in;
    border-right: 2px solid #F2F2F2;

    .header {
      margin: 20px 0;
      display: flex;
      justify-content: flex-end;
    }

    &.active {
      width: 50px;

      .menu-links {
        padding: 0;


        .menu-link {
          &.menu-active {
            background-color: transparent;
          }

          .title {
            display: none;
          }
        }
      }
    }

    .menu-links {
      padding: 0 16px;
      position: fixed;
      top: 86px;
      height: 90%;
      overflow-y: auto;

      .menu-link {
        padding: 16px;
        transition: all .3s ease-in;
        margin-bottom: 8px;

        &:hover, &.menu-active {
          cursor: pointer;
          background-color: #E4E4E4;
          -webkit-border-radius: 12px;
          -moz-border-radius: 12px;
          border-radius: 12px;

          .title {
            color: #0F69FF;
          }
        }

        .icon {
          margin-right: 16px;
        }
      }
    }
  }
</style>