<template>
  <div>
    <sidebar-menu
      ref="leftMenu"
      :menu="menu"
      width="250px"
      theme="white-theme"
      :hide-toggle="true"
      @toggle-collapse="onToggle"
      @item-click="onItemCLick"
    >
      <div slot="header" class="header">
        <button class="btn bg-transparent" @click="customToggle">
          <span>
            <svg :class="{ toggleIcon: true, active: collapsed }" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M16.9422 10.3431L15.0566 8.45752L7.51416 16L15.0566 23.5424L16.9422 21.6568L11.2854 16L16.9422 10.3431ZM22.599 8.45752L24.4846 10.3431L18.8278 16L24.4846 21.6568L22.599 23.5425L15.0566 16L22.599 8.45752Z"
                  fill="#0F69FF" />
          </svg>
          </span>
        </button>
      </div>
    </sidebar-menu>
  </div>
</template>

<script>
import { SidebarMenu } from 'vue-sidebar-menu';
import './style.css';
import menu from './configs';

export default {
  name: 'Sidebar',
  components: {
    SidebarMenu,
  },
  data() {
    return {
      menu,
      collapsed: false,
    };
  },
  methods: {
    onToggle(collapsed) {
      this.collapsed = collapsed;
      this.$emit('toggle', collapsed);
    },
    customToggle() {
      const sidebar = this.$refs.leftMenu;
      sidebar.onToggleClick();
    },
    onItemCLick(event, item, node) {
      if (item.id === 'logout') {
        this.$store.dispatch('auth/logout');
      }
      this.$emit('click', { event, item, node });
    },
  },
};
</script>

<style lang="scss" scoped>
  .toggleIcon {
    transform: rotate(0deg);
    transition: transform .4s ease;

    &.active {
      transform: rotate(180deg);
    }
  }

  .v-sidebar-menu.vsm_white-theme .vsm--link_level-1 .vsm--icon {
    background: transparent !important;
  }

  .v-sidebar-menu .vsm--link_level-1 .vsm--icon {
    background: transparent !important;
  }

  .v-sidebar-menu.vsm_white-theme .vsm--link_level-1.vsm--link_exact-active .vsm--icon, .v-sidebar-menu.vsm_white-theme .vsm--link_level-1.vsm--link_active .vsm--icon {
    background: transparent !important;
  }

  .v-sidebar-menu .vsm--link_level-1 .vsm--icon {
    background-color: transparent
  }

  .v-sidebar-menu.vsm_white-theme {
    border-right: 1px solid #D7DFE9;

    .vsm--title {
      &:last-child {
        color: $blue
      }
    }

    &.vsm_collapsed {
      .header {
        padding: 56px 0;
      }
    }

    .header {
      text-align: right;
      padding: 48px 26px;
    }
  }
</style>