<template>
  <div class="login-page">

    <language-picker class="language-picker" />

    <div class="form-sign-in">
      <p class="title">{{ $t('auth.login') }}</p>
      <span class="font-weight-bold mr-2">У вас нет аккаунта?</span>
      <router-link class="font-weight-bold" :to="{ name: 'register' }">Зарегистрироваться</router-link>
      <form @submit.prevent="onLogin" action="">
        <span v-if="error.length > 0" class="alert alert-danger">{{ error }}</span>

        <input-material name="email" class="email" type="email" :top-label="false" label="Email" />
        <input-material name="password" class="password" type="password" :top-label="false"
                        label="Password" />

        <div class="d-flex justify-content-between">
          <div class="remember-me">
            <input id="remember-me" type="checkbox"> <label for="remember-me">Запомнить меня</label>
          </div>
          <div class="forgot-password">
            <router-link to="/">Забыли пароль?</router-link>
          </div>
        </div>

        <button
          class="btn btn-blue btn-block"
          type="submit"
          :disabled="loading"
        >
          {{ $t('auth.login') }}
        </button>
        <div class="socials text-center">
          <span>или войдите через</span>
          <div class="icons">
            <a href="#"><img src="../../assets/icons/google.svg" alt="" width="24"></a>
            <a href="#"><img src="../../assets/icons/facebook.svg" alt="" width="24"></a>
            <a href="#"><img src="../../assets/icons/linkedin.svg" alt="" width="24"></a>
          </div>
        </div>
      </form>
    </div>

  </div>
</template>

<script>
import InputMaterial from '../../components/forms/InputMaterial';
import LanguagePicker from '../../components/forms/LanguagePicker';

export default {
  name: 'LoginPage',
  components: {
    InputMaterial,
    LanguagePicker,
  },
  data() {
    return {
      formData: {
        email: null,
        password: null,
      },
      error: {},
      loading: false,
    };
  },
  methods: {
    async onLogin(e) {
      try {
        this.loading = true;
        const response = await this.$axios.post('login', {
          email: e.target[0].value,
          password: e.target[1].value,
        });

        if (response.data.status) {
          this.loading = false;

          await this.$store.dispatch('auth/login', {
            api_token: response.data.data.api_token,
            user: response.data.data.user,
          });

          const redirectedName = this.$route.query.redirect;

          if (redirectedName) {
            await this.$router.push({ name: redirectedName });
          } else {
            await this.$router.push({ name: 'home' });
          }
        } else {
          this.loading = false;
          this.error = response.errors;
        }

      } catch (e) {
        this.loading = false;
        this.error = e.message;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
  .login-page {
    width: 580px;
    margin: 0 auto;

    .language-picker {
      margin-top: 2rem;
    }

    .form-sign-in {
      margin-top: 100px;

      form {
        margin-top: 58px;

        > div {
          margin-top: 28px;
          margin-bottom: 43px;
        }

        .email {
          margin-bottom: 24px;
        }

        .remember-me {
          font-size: 12px;
        }

        .forgot-password {
          font-size: 12px;
          font-weight: bold;
          color: $blue;
        }

        .socials {
          margin-top: 24px;
          margin-bottom: 0;

          span {
            font-weight: bold;
            font-size: 12px;
            line-height: 20px;
            color: $silver;
          }

          .icons {
            margin-top: 40px;

            a {
              margin-right: 60px;

              &:last-child {
                margin-right: 0;
              }

              &:hover {
                opacity: 0.8;
              }

            }
          }
        }
      }

      .title {
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        letter-spacing: -0.4px;
        margin-bottom: 13px;
      }

    }
  }

</style>