<template>
  <div class="broker-card">
    <div class="row head">
      <div class="col-2">
        <div class="img"></div>
      </div>
      <div class="col-7">
        <p class="title">{{ broker.title }}</p>
        <div class="d-flex mt-3">
          <span class="mr-3">4.01</span>
          <div class="text-left">
            <star-rating
              inactive-color="#F7F7F7"
              :star-size="16"
              :rating="3"
              active-color="#0F69FF"
              :border-width="4"
              border-color="#0F69FF"
              :rounded-corners="true"
              :star-points="[23,2, 14,17, 0,19, 10,34, 7,50, 23,43, 38,50, 36,34, 46,19, 31,17]"
            />
          </div>
        </div>
        <div class="text-left">
          548 оценок
        </div>
        <div class="mt-4">
          <router-link to="/" class="mr-3">Ознакомится с тарифами</router-link>
          <router-link to="/">Скачать договор</router-link>
        </div>
      </div>
      <div class="col-3 d-flex flex-column justify-content-between pb-1">
        <div class="d-flex">
          <div class="mr-3 text-center">
            <span class="font-weight-bold">1210</span> <br>
            Подписчики
          </div>
          <button v-if="!$route.query.isSubscribed" class="btn btn-follow" @click="subscribe(broker.id)">
            <span class="mr-2">Подписаться</span>
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12.5 2C6.97715 2 2.5 6.47715 2.5 12C2.5 17.5228 6.97715 22 12.5 22C18.0228 22 22.5 17.5228 22.5 12C22.5 6.47715 18.0228 2 12.5 2ZM4.5 12C4.5 7.58172 8.08172 4 12.5 4C16.9183 4 20.5 7.58172 20.5 12C20.5 16.4183 16.9183 20 12.5 20C8.08172 20 4.5 16.4183 4.5 12ZM12.5 6C13.0523 6 13.5 6.44772 13.5 7V11H17.5C18.0523 11 18.5 11.4477 18.5 12C18.5 12.5523 18.0523 13 17.5 13H13.5V17C13.5 17.5523 13.0523 18 12.5 18C11.9477 18 11.5 17.5523 11.5 17V13H7.5C6.94772 13 6.5 12.5523 6.5 12C6.5 11.4477 6.94772 11 7.5 11H11.5V7C11.5 6.44772 11.9477 6 12.5 6Z"
                    fill="#0F69FF" />
            </svg>
          </button>
          <button v-else class="btn btn-follow" @click="unsubscribe(broker.id)">
            <span class="mr-2">Отписаться</span>
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12.5 2C6.97715 2 2.5 6.47715 2.5 12C2.5 17.5228 6.97715 22 12.5 22C18.0228 22 22.5 17.5228 22.5 12C22.5 6.47715 18.0228 2 12.5 2ZM4.5 12C4.5 7.58172 8.08172 4 12.5 4C16.9183 4 20.5 7.58172 20.5 12C20.5 16.4183 16.9183 20 12.5 20C8.08172 20 4.5 16.4183 4.5 12ZM12.5 6C13.0523 6 13.5 6.44772 13.5 7V11H17.5C18.0523 11 18.5 11.4477 18.5 12C18.5 12.5523 18.0523 13 17.5 13H13.5V17C13.5 17.5523 13.0523 18 12.5 18C11.9477 18 11.5 17.5523 11.5 17V13H7.5C6.94772 13 6.5 12.5523 6.5 12C6.5 11.4477 6.94772 11 7.5 11H11.5V7C11.5 6.44772 11.9477 6 12.5 6Z"
                    fill="#0F69FF" />
            </svg>
          </button>
        </div>
        <div class="text-right pr-3">
          <router-link to="/">
            <span class="mr-2">Перейти на сайт</span>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M9.88651 8L10.8294 8.9428L12.715 7.0572C13.7564 6.01577 13.7564 4.32733 12.715 3.28593C11.6736 2.24453 9.98511 2.24453 8.94371 3.28593L7.05811 5.17155L8.00091 6.11436L9.88651 4.22874C10.4072 3.70804 11.2514 3.70804 11.7722 4.22874C12.2928 4.74944 12.2928 5.59366 11.7722 6.11436L9.88651 8ZM8.00098 9.88567L8.94378 10.8285L7.05818 12.7141C6.01674 13.7555 4.3283 13.7555 3.28691 12.7141C2.24551 11.6727 2.24551 9.98427 3.28691 8.94287L5.17252 7.0572L6.11534 8L4.22972 9.88567C3.70902 10.4063 3.70902 11.2505 4.22972 11.7713C4.75042 12.2919 5.59464 12.2919 6.11534 11.7713L8.00098 9.88567ZM9.88657 6.11431C10.1469 6.37466 10.1469 6.7968 9.88657 7.05713L7.0581 9.88553C6.79777 10.1459 6.37568 10.1459 6.11533 9.88553C5.85498 9.6252 5.85498 9.20307 6.11533 8.94273L8.94377 6.11431C9.2041 5.85396 9.62624 5.85396 9.88657 6.11431Z"
                    fill="#0F69FF" />
            </svg>
          </router-link>
        </div>
      </div>
    </div>
    <div v-html="broker.content"></div>

<!--    <div class="row mt-3">-->
<!--      <div class="col-4">-->
<!--        <h2 class="font-weight-bold mb-3">Виды деятельности</h2>-->
<!--        <p class="mb-3">Инвестиционный консультант, посредник</p>-->
<!--        <h2 class="font-weight-bold mb-3">Ответственное лицо</h2>-->
<!--        <p>Саъдуллаев Зафар Файзуллаевич,-->
<!--          Сидиков Жахонгир Гайратович</p>-->
<!--      </div>-->
<!--      <div class="col-4">-->
<!--        <h2 class="font-weight-bold mb-3">О нас</h2>-->
<!--        <p class="mb-3">Dalal Standard - это универсальное место для торговли более чем 2000 символическими активами,-->
<!--          включая акции-->
<!--          (Apple и Amazon), индексы (S&P 500 и Dax 30), сырьевые товары (Сырая нефть и Золото), а также широкий выбор-->
<!--          валютных пар с крипто- и фиат-ценами по конкурентным ценам. Затем храните свои запасы в целости и сохранности-->
<!--          и с легкостью осуществляйте трансфер.</p>-->
<!--        <p>Дни работы: понедельник - пятница-->
<!--          Часы работы: 09:00 - 18:00-->
<!--          Часы приема клиентов: 10:00 - 16:00-->
<!--          Обеденный перерыв: 13:00 - 14:00-->
<!--          Список предоставляемых услуг: брокерские и депозитарные услуги</p>-->
<!--      </div>-->
<!--      <div class="col-4">-->
<!--        <h2 class="font-weight-bold mb-3">Контакты</h2>-->
<!--        <div class="d-flex mb-3">-->
<!--          <span class="mr-2">-->
<!--            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--            <path fill-rule="evenodd" clip-rule="evenodd"-->
<!--                  d="M19.645 12.4803C19.4353 12.4803 19.216 12.4133 19.0062 12.3655C18.5815 12.2716 18.164 12.147 17.7572 11.9926C16.8412 11.6584 15.8214 12.0708 15.3928 12.9488L15.183 13.3791C14.2544 12.861 13.401 12.2175 12.6469 11.4667C11.8982 10.7103 11.2566 9.85453 10.7401 8.92319L11.1405 8.65546C12.0159 8.22558 12.4272 7.20275 12.0939 6.28408C11.9425 5.87523 11.8183 5.45678 11.7221 5.03146C11.6744 4.8211 11.6363 4.60117 11.6077 4.38124C11.3685 2.98976 10.1552 1.97978 8.74741 2.00031H5.88714C5.0557 1.99248 4.26201 2.34789 3.71279 2.97399C3.16358 3.60008 2.9132 4.43488 3.02687 5.26095C4.07176 13.5017 10.5568 19.9821 18.7774 21H19.1397C19.8428 21.001 20.5216 20.7423 21.0465 20.2733C21.6567 19.726 22.0038 18.9428 22 18.1218V15.2532C21.9759 13.8835 20.9895 12.7221 19.645 12.4803ZM20 18.0518C19.9997 18.322 19.8826 18.5789 19.6788 18.7572C19.4659 18.9417 19.1841 19.0273 18.904 18.9923C11.6253 18.0633 5.90474 12.3414 5.00603 5.09125C4.97564 4.81285 5.06099 4.53419 5.24223 4.32002C5.42133 4.11706 5.67946 4.00058 5.95083 4.00024H8.78523C9.23844 3.9902 9.63494 4.30202 9.73003 4.74326C9.76782 5.00034 9.81506 5.25428 9.87175 5.50509C9.98089 6.00089 10.1261 6.48812 10.3064 6.96292L8.98364 7.57426C8.75522 7.67859 8.57796 7.86921 8.49108 8.10397C8.4042 8.33872 8.41486 8.59826 8.52068 8.82517C9.88044 11.7246 12.2217 14.0553 15.1343 15.4089C15.3643 15.503 15.6223 15.503 15.8523 15.4089C16.0903 15.3242 16.2843 15.148 16.3909 14.9198L16.9766 13.6031C17.4651 13.777 17.9636 13.9214 18.4694 14.0357C18.7214 14.0922 18.9765 14.1392 19.2347 14.1768C19.678 14.2715 19.9912 14.6662 19.9811 15.1173L20 18.0518Z"-->
<!--                  fill="#0C163A" />-->
<!--            </svg>-->
<!--          </span>-->
<!--          <div class="w-75">-->
<!--            +998 71 231-01-39 <br>-->
<!--            +998 99 850-99-55 <br>-->
<!--            +998 94 620-18-86-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="d-flex mb-3">-->
<!--          <span class="mr-2">-->
<!--            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--            <path fill-rule="evenodd" clip-rule="evenodd"-->
<!--                  d="M8 4H16V6H8V4ZM18 6H22V18H18V22H6V18H2V6H6V2H18V6ZM20 16H18V14H6V16H4V8H20V16ZM8 16H16V20H8V16ZM8 10H6V12H8V10Z"-->
<!--                  fill="#0C163A" />-->
<!--            </svg>-->
<!--          </span>-->
<!--          <div class="w-75">-->
<!--            +998 71 233-62-73-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="d-flex mb-3">-->
<!--          <span class="mr-2">-->
<!--            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--            <path fill-rule="evenodd" clip-rule="evenodd"-->
<!--                  d="M3.00977 5.83789C3.00977 5.28561 3.45748 4.83789 4.00977 4.83789H20C20.5523 4.83789 21 5.28561 21 5.83789V17.1621C21 18.2667 20.1046 19.1621 19 19.1621H5C3.89543 19.1621 3 18.2667 3 17.1621V6.16211C3 6.11449 3.00333 6.06765 3.00977 6.0218V5.83789ZM5 8.06165V17.1621H19V8.06199L14.1215 12.9405C12.9499 14.1121 11.0504 14.1121 9.87885 12.9405L5 8.06165ZM6.57232 6.80554H17.428L12.7073 11.5263C12.3168 11.9168 11.6836 11.9168 11.2931 11.5263L6.57232 6.80554Z"-->
<!--                  fill="#0C163A" />-->
<!--            </svg>-->
<!--          </span>-->
<!--          <div class="w-75">-->
<!--            info@stockinvest.uz <br>-->
<!--            alpomad@bk.ru-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="d-flex mb-3">-->
<!--          <span class="mr-2">-->
<!--            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--            <path fill-rule="evenodd" clip-rule="evenodd"-->
<!--                  d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21ZM14.8055 18.4151C17.1228 17.4003 18.7847 15.1667 18.9806 12.525C18.1577 12.9738 17.12 13.3418 15.9371 13.598C15.7882 15.4676 15.3827 17.1371 14.8055 18.4151ZM9.1945 5.58487C7.24725 6.43766 5.76275 8.15106 5.22208 10.244C5.4537 10.4638 5.84813 10.7341 6.44832 11.0008C6.89715 11.2003 7.42053 11.3798 8.00537 11.5297C8.05853 9.20582 8.50349 7.11489 9.1945 5.58487ZM10.1006 13.9108C10.2573 15.3675 10.5852 16.6202 10.9992 17.5517C11.2932 18.2133 11.5916 18.6248 11.8218 18.8439C11.9037 18.9219 11.9629 18.9634 12 18.9848C12.0371 18.9634 12.0963 18.9219 12.1782 18.8439C12.4084 18.6248 12.7068 18.2133 13.0008 17.5517C13.4148 16.6202 13.7427 15.3675 13.8994 13.9108C13.2871 13.9692 12.6516 14 12 14C11.3484 14 10.7129 13.9692 10.1006 13.9108ZM8.06286 13.598C8.21176 15.4676 8.61729 17.1371 9.1945 18.4151C6.8772 17.4003 5.21525 15.1666 5.01939 12.525C5.84231 12.9738 6.88001 13.3418 8.06286 13.598ZM13.9997 11.8896C13.369 11.9609 12.6993 12 12 12C11.3008 12 10.631 11.9609 10.0003 11.8896C10.0135 9.66408 10.4229 7.74504 10.9992 6.44832C11.2932 5.78673 11.5916 5.37516 11.8218 5.15605C11.9037 5.07812 11.9629 5.03659 12 5.01516C12.0371 5.03659 12.0963 5.07812 12.1782 5.15605C12.4084 5.37516 12.7068 5.78673 13.0008 6.44832C13.5771 7.74504 13.9865 9.66408 13.9997 11.8896ZM15.9946 11.5297C15.9415 9.20582 15.4965 7.11489 14.8055 5.58487C16.7528 6.43766 18.2373 8.15107 18.7779 10.244C18.5463 10.4638 18.1519 10.7341 17.5517 11.0008C17.1029 11.2003 16.5795 11.3798 15.9946 11.5297Z"-->
<!--                  fill="#0C163A" />-->
<!--            </svg>-->
<!--          </span>-->
<!--          <div class="w-75">-->
<!--            stockinvest.uz-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="d-flex">-->
<!--          <span class="mr-2">-->
<!--            <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--            <path fill-rule="evenodd" clip-rule="evenodd"-->
<!--                  d="M5.72164 3.79417C2.14371 7.39409 2.28971 13.0909 6.04775 16.5183L12.8523 22.7241L19.3307 16.2059C22.9086 12.606 22.7626 6.90918 19.0046 3.48178C15.2465 0.054384 9.29957 0.194244 5.72164 3.79417ZM12.7798 19.8965L17.8186 14.8268C20.6014 12.0269 20.4878 7.59603 17.5649 4.93028C14.6419 2.26453 10.0166 2.37331 7.23375 5.17325C4.45092 7.97319 4.56447 12.404 7.48738 15.0698L12.7798 19.8965ZM12.8102 14.2721C15.1164 14.2721 16.9859 12.4813 16.9859 10.2721C16.9859 8.06299 15.1164 6.27213 12.8102 6.27213C10.5041 6.27213 8.63455 8.06299 8.63455 10.2721C8.63455 12.4813 10.5041 14.2721 12.8102 14.2721ZM12.8102 12.2721C13.9633 12.2721 14.898 11.3767 14.898 10.2721C14.898 9.16756 13.9633 8.27213 12.8102 8.27213C11.6572 8.27213 10.7223 9.16756 10.7223 10.2721C10.7223 11.3767 11.6572 12.2721 12.8102 12.2721Z"-->
<!--                  fill="#0C163A" />-->
<!--            </svg>-->
<!--          </span>-->
<!--          <div class="w-75">-->
<!--            100070, г. Ташкент,<br>-->
<!--            проезд Тафаккур, 2-11-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</template>

<script>
import VueTypes from 'vue-types'

export default {
  name: 'BrokerCard',
  props: {
    broker: VueTypes.object.isRequired
  },
  computed: {
    user() {
      return this.$store.getters['auth/user'];
    },
  },
  methods: {
    async subscribe(brokerId) {
      console.log(brokerId);
      try {
        const { data: isSubscribed } = await this.$axios.post('user-broker/subscribe', {
          broker_id: brokerId,
          user_id: this.user.id,
        });
        console.log(isSubscribed);

        if (isSubscribed.status) {
          this.$toastSuccess(isSubscribed.data.message);
        }

      } catch (e) {
        this.$toastError(e.response.data.data.message);
      }
    },
    async unsubscribe(brokerId) {
      try {
        const { data: isSubscribed } = await this.$axios.post('user-broker/unsubscribe', {
          broker_id: brokerId,
          user_id: this.user.id,
        });

        if (isSubscribed.status) {
          this.$toastSuccess(isSubscribed.data.message);
          await this.$router.push({ name: 'brokers' });
        }
      } catch (e) {
        this.$toastError(e.response.data.data.message);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
  $border-color: #EBECEC;
  .broker-card {
    padding: 24px;
    background-color: #fff;
    border-radius: 10px;

    .head {
      padding-bottom: 24px;
      border-bottom: 1px solid $border-color;

      .img {
        width: 150px;
        height: 150px;
        background: #C4C4C4;
        border-radius: 8px;
      }

      .title {
        font-weight: 600;
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 8px;
      }

      .btn-follow {
        padding: 12px 24px;
        border: 1px solid $border-color;
        box-sizing: border-box;
        border-radius: 8px;
        color: $blue;
      }

      .rating {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
      }
    }

    .text {
      margin-top: 24px;
    }
  }
</style>