<template>
  <div class="broker-card">
    <div class="row head">
      <div class="col-2">
        <div class="img"></div>
      </div>
      <div class="col-7">
        <router-link
          :to="{ name: 'broker', params: { brokerId: broker.id }, query: { isSubscribed } }"
          class="title cursor-pointer text-dark"
        >
          {{ broker.title }}
        </router-link>
        <p class="type">Виды деятельности: Инвестиционный консультант, посредник</p>
      </div>
      <div class="col-3">
        <button v-if="!isSubscribed" class="btn btn-follow btn-block" @click="subscribe(broker.id)">
          <span class="mr-2">Подписаться</span>
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12.5 2C6.97715 2 2.5 6.47715 2.5 12C2.5 17.5228 6.97715 22 12.5 22C18.0228 22 22.5 17.5228 22.5 12C22.5 6.47715 18.0228 2 12.5 2ZM4.5 12C4.5 7.58172 8.08172 4 12.5 4C16.9183 4 20.5 7.58172 20.5 12C20.5 16.4183 16.9183 20 12.5 20C8.08172 20 4.5 16.4183 4.5 12ZM12.5 6C13.0523 6 13.5 6.44772 13.5 7V11H17.5C18.0523 11 18.5 11.4477 18.5 12C18.5 12.5523 18.0523 13 17.5 13H13.5V17C13.5 17.5523 13.0523 18 12.5 18C11.9477 18 11.5 17.5523 11.5 17V13H7.5C6.94772 13 6.5 12.5523 6.5 12C6.5 11.4477 6.94772 11 7.5 11H11.5V7C11.5 6.44772 11.9477 6 12.5 6Z"
                  fill="#0F69FF" />
          </svg>
        </button>

        <button v-else class="btn btn-follow btn-block" @click="unsubscribe(broker.id)">
          <span class="mr-2">Отписаться</span>
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12.5 2C6.97715 2 2.5 6.47715 2.5 12C2.5 17.5228 6.97715 22 12.5 22C18.0228 22 22.5 17.5228 22.5 12C22.5 6.47715 18.0228 2 12.5 2ZM4.5 12C4.5 7.58172 8.08172 4 12.5 4C16.9183 4 20.5 7.58172 20.5 12C20.5 16.4183 16.9183 20 12.5 20C8.08172 20 4.5 16.4183 4.5 12ZM12.5 6C13.0523 6 13.5 6.44772 13.5 7V11H17.5C18.0523 11 18.5 11.4477 18.5 12C18.5 12.5523 18.0523 13 17.5 13H13.5V17C13.5 17.5523 13.0523 18 12.5 18C11.9477 18 11.5 17.5523 11.5 17V13H7.5C6.94772 13 6.5 12.5523 6.5 12C6.5 11.4477 6.94772 11 7.5 11H11.5V7C11.5 6.44772 11.9477 6 12.5 6Z"
                  fill="#0F69FF" />
          </svg>
        </button>

        <div class="rating">
          <span>4.01</span>
          <star-rating
            inactive-color="#F7F7F7"
            :star-size="16"
            :rating="3"
            active-color="#0F69FF"
            :border-width="4"
            border-color="#0F69FF"
            :rounded-corners="true"
            :star-points="[23,2, 14,17, 0,19, 10,34, 7,50, 23,43, 38,50, 36,34, 46,19, 31,17]"
          />
        </div>
        <div class="text-right">
          548 оценок
        </div>
      </div>
    </div>
    <!--    <p class="text" v-html="broker.content">-->
    <!--      Dalal Standard - это универсальное место для торговли более чем 2000 символическими активами, включая акции (Apple-->
    <!--      и Amazon), индексы (S&P 500 и Dax 30), сырьевые товары (Сырая нефть и Золото), а также широкий выбор валютных пар-->
    <!--      с крипто- и фиат-ценами по конкурентным ценам. Затем храните свои запасы в целости и сохранности и с легкостью-->
    <!--      осуществляйте трансфер.-->
    <!--    </p>-->
  </div>
</template>

<script>
import VueTypes from 'vue-types';

export default {
  name: 'BrokerCard',
  props: {
    broker: VueTypes.any.isRequired,
    isSubscribed: VueTypes.bool.def(false),
  },
  computed: {
    user() {
      return this.$store.getters['auth/user'];
    },
  },
  methods: {
    async subscribe(brokerId) {
      console.log(brokerId);
      try {
        const { data: isSubscribed } = await this.$axios.post('user-broker/subscribe', {
          broker_id: brokerId,
          user_id: this.user.id,
        });
        console.log(isSubscribed);

        if (isSubscribed.status) {
          this.$toastSuccess(isSubscribed.data.message);
        }

      } catch (e) {
        this.$toastError(e.response.data.data.message);
      }
    },
    async unsubscribe(brokerId) {
      try {
        const { data: isSubscribed } = await this.$axios.post('user-broker/unsubscribe', {
          broker_id: brokerId,
          user_id: this.user.id,
        });

        if (isSubscribed.status) {
          this.$toastSuccess(isSubscribed.data.message);
          await this.$router.push({ name: 'brokers' });
        }
      } catch (e) {
        this.$toastError(e.response.data.data.message);
      }
    },
  },
  created() {
    console.log(this.broker);
  },
};
</script>

<style lang="scss" scoped>
  $border-color: #EBECEC;
  .broker-card {
    padding: 24px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #F2F2F2;
    margin-bottom: 1rem;

    .head {
      /*padding-bottom: 10px;*/
      // border-bottom: 1px solid $border-color;

      .img {
        width: 150px;
        height: 150px;
        background: #C4C4C4;
        border-radius: 8px;
      }

      .title {
        font-weight: 600;
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 8px;
      }

      .btn-follow {
        padding: 12px 24px;
        border: 1px solid $border-color;
        box-sizing: border-box;
        border-radius: 8px;
        color: $blue;
      }

      .rating {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
      }
    }

    .text {
      margin-top: 24px;
    }


    &:hover {
      background-color: #F7F7F7;
      -webkit-transition: background-color .3s linear;
      -moz-transition: background-color .3s linear;
      -ms-transition: background-color .3s linear;
      -o-transition: background-color .3s linear;
      transition: background-color .3s linear;
    }
  }
</style>