<template>
  <div class="card">
    <img class="card-img-top" :src="image" alt="Card image cap">
    <div class="card-body">
      <p class="card-title">{{ title }}</p>
      <p class="card-text">{{ text }}</p>
      <div class="card-action">
        <router-link :to="href" tag="button" v-if="hasButton" class="btn card-button">{{ buttonText }}</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import VueTypes from 'vue-types';
import defaultImage from '../../assets/img/default.jpg';

export default {
  name: 'Card',
  props: {
    image: VueTypes.string.def(defaultImage),
    title: VueTypes.string.def('Первые шаги в инвестициях'),
    text: VueTypes.string.def('Простой и понятный семинар по инвестициям от эксперта Московской биржи. Снимем страхи, разберем основы, научим ставить финансовые цели и расскажем, как их достигнуть с помощью биржевых инструментов.'),
    buttonText: VueTypes.string.def('Смотреть'),
    href: VueTypes.object.def({ name: 'home' }),
    hasButton: VueTypes.bool.def(true),
  },
};
</script>

<style lang="scss" scoped>
  .card {
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    border: none;

    .card-body {
      background-color: #F7F7F7;
      -webkit-border-radius: 0 0 24px 24px;
      -moz-border-radius: 0 0 24px 24px;
      border-radius: 0 0 24px 24px;

      .card-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
      }
    }

    .card-action {
      padding: 0;
      border: none;
      text-align: center;

      .card-button {
        width: 100%;
        border-radius: .5rem;
        background-color: $darkgrey;
        color: $blue;
        font-weight: bold;
        padding: 12px 24px;
        margin-top: 24px;
      }
    }
  }
</style>