<template>
  <div class="carousel-card">
    <div class="title">{{ issuer.info[0].isu_nm }}</div>
    <div class="d-flex">
      <div class="w-66">
        <p class="abbr">{{ issuer.info[0].isu_srt_cd }}</p>
        <p class="count">{{ issuer.info[0].isu_prc }}</p>
<!--        <p class="percent">{{ percentUp ? '+' : '-' }} {{ percent }} %</p>-->
      </div>
      <div class="w-33">
        <svg width="70" height="50" viewBox="0 0 70 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M69 49L61.5058 43.4163H53.8801L47.017 35.2367L43.0727 40.1837L33.4749 20.298L21.4578 28.6735L9.73008 8.34694L4.05027 12.2163L0.999998 1"
            stroke="#FF0B37" stroke-width="2" stroke-linecap="round" />
        </svg>
      </div>
    </div>
  </div>
</template>

<script>
import VueTypes from 'vue-types';

export default {
  name: 'CarouselCard',
  props: {
    issuer: VueTypes.object.isRequired,
  },
};
</script>

<style lang="scss" scoped>
  .carousel-card {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
    /*border: 0.5px solid #E4E4E4;*/
    padding: 12px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: $black;
    cursor: pointer;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
    height: 124px;

    &:hover {
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    }

    .title {
      margin-bottom: 8px;
    }

    .w-66 {
      p {
        margin-bottom: 4px;
      }
    }

    .abbr {
      color: $blue;
    }
  }
</style>