<template>
  <div class="company-card">
    <div class="header">
      <div class="image"></div>
    </div>
    <div class="body">
      <div class="text-center">
        <h2>“Qizilqumsement” AJ</h2>
        <p class="text-blue">QZSM</p>
      </div>
      <div class="text-container">
        <div class="text">
          <span class="label">Рост за год</span>
          <span class="value">130,07%</span>
        </div>
        <div class="text">
          <span class="label">Рост за год</span>
          <span class="value">130,07%</span>
        </div>
      </div>
    </div>
    <div class="footer">
      <button class="btn bg-white text-blue btn-block">Торговать</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CompanyCard',
};
</script>

<style lang="scss" scoped>
  .company-card {
    background-color: #F7F7F7;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
    padding: 32px 24px;

    .header {
      display: flex;
      justify-content: center;

      .image {
        background-color: #C4C4C4;
        height: 120px;
        width: 120px;
        border-radius: $radius;
      }
    }

    .body {
      margin-top: 16px;
      h2 {
        font-weight: bold;
        font-size: 22px;
      }

      .text-container {
        margin-top: 32px;
        margin-bottom: 40px;

        .text {
          display: flex;
          justify-content: space-between;

          &:first-child {
            margin-bottom: 1rem;
          }

          .value {
            font-weight: bold;
          }
        }
      }
    }
  }
</style>