<template>
  <div class="card-info">
    <div class="circle mx-auto">
      <span>{{ number }}</span>
    </div>
    <p class="text">{{ text }}</p>
  </div>
</template>

<script>
import VueTypes from 'vue-types';

export default {
  name: 'InfoCard',
  props: {
    number: VueTypes.any.def('74,7 млрд'),
    text: VueTypes.string.def('Объем сделок'),
  },
};
</script>

<style lang="scss" scoped>
  .card-info {
    -webkit-border-radius: $radius-card;
    -moz-border-radius: $radius-card;
    border-radius: $radius-card;
    text-align: center;
    border: 1px solid $grey;
    width: 200px;
    height: 218px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
    transition: all .2s ease-in;

    &:hover {
      cursor: pointer;
      box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.1);
    }

    .circle {
      border-radius: 50%;
      background: linear-gradient(146.29deg, #57B1E4 14.84%, #0052CC 92.53%);
      color: $white;
      width: 112px;
      height: 112px;
      margin: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .text {
      margin: 1rem 0;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
    }
  }
</style>