<template>
  <router-link
    tag="div"
    :to="{ name: 'issuer', params: { issuerId }, query: { my: isMine } }"
    class="issuer-card"
  >
    <div class="img"></div>
    <!--    <img :src="`https://uzse.uz/system/isu_infos/symbols/000/025/309/thumb/${issuer.symbol_file_name}`" alt="">-->
    <div class="text-center">
      <p class="title">{{ issuer.isu_abbrv }}</p>
      <span class="text-blue font-weight-bold">{{ issuer.isu_srt_cd }}</span>
    </div>
    <div class="body mt-4">
      <div class="d-flex justify-content-between">
        <span>Рост за год</span>
        <span class="font-weight-bold">130,07%</span>
      </div>
      <div class="d-flex justify-content-between mt-2">
        <span>Цена за акцию</span>
        <span class="font-weight-bold text-green">{{ issuer.isu_prc }} {{ issuer.curr_iso_cd }}</span>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <button class="btn card-button">Купить акции</button>
      <button class="btn card-button-plus">
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M12.5 2C6.97715 2 2.5 6.47715 2.5 12C2.5 17.5228 6.97715 22 12.5 22C18.0228 22 22.5 17.5228 22.5 12C22.5 6.47715 18.0228 2 12.5 2ZM4.5 12C4.5 7.58172 8.08172 4 12.5 4C16.9183 4 20.5 7.58172 20.5 12C20.5 16.4183 16.9183 20 12.5 20C8.08172 20 4.5 16.4183 4.5 12ZM12.5 6C13.0523 6 13.5 6.44772 13.5 7V11H17.5C18.0523 11 18.5 11.4477 18.5 12C18.5 12.5523 18.0523 13 17.5 13H13.5V17C13.5 17.5523 13.0523 18 12.5 18C11.9477 18 11.5 17.5523 11.5 17V13H7.5C6.94772 13 6.5 12.5523 6.5 12C6.5 11.4477 6.94772 11 7.5 11H11.5V7C11.5 6.44772 11.9477 6 12.5 6Z"
                fill="#0F69FF" />
        </svg>
      </button>
    </div>
  </router-link>
</template>

<script>
import VueTypes from 'vue-types';

export default {
  name: 'IssuerCard',
  props: {
    issuer: VueTypes.any.isRequired,
    issuerId: VueTypes.any.isRequired,
    isMine: VueTypes.bool.def(false),
  },
};
</script>

<style lang="scss" scoped>
  .issuer-card {
    padding: 2rem;

    .img {
      width: 150px;
      height: 150px;
      background: #C4C4C4;
      border-radius: 8px;
      margin: 0 auto;
    }

    .title {
      font-weight: 600;
      font-size: 28px;
      line-height: 40px;
      margin-bottom: 8px;
      margin-top: 1rem;
      height: 80px;
    }

    .card-button {
      border-radius: .5rem;
      background-color: #F2F2F2;
      color: $blue;
      font-weight: bold;
      padding: 12px 30px;
      margin-top: 40px;
      margin-right: 1rem;
    }

    .card-button-plus {
      border-radius: .5rem;
      background-color: #F7F7F7;
      color: $blue;
      font-weight: bold;
      margin-top: 40px;
    }

    &:hover {
      background-color: #F2F2F2;
      border-radius: 10px;
      -webkit-transition: background-color .3s linear;
      -moz-transition: background-color .3s linear;
      -ms-transition: background-color .3s linear;
      -o-transition: background-color .3s linear;
      transition: background-color .3s linear;
      cursor: pointer;

      .card-button {
        background-color: #F7F7F7;
      }
    }
  }
</style>