<template>
  <div class="broker-card">
    <div class="row head">
      <div class="col-2">
        <div class="img"></div>
      </div>
      <div class="col-5">
        <p class="title">{{ issuer.isu_nm }}</p>
        <div class="text-left mt-3">
          <span class="font-weight-bold text-blue">{{ issuer.isu_srt_cd }}</span>
        </div>
        <div class="text-left mt-2">
          Виды ЦБ: Простые акции, привелигированные акции
        </div>
        <div class="mt-2">
          <span class="mr-3 font-weight-bold">{{ issuer.isu_prc }} {{ issuer.curr_iso_cd }}</span>
          <span class="font-weight-bold text-green">+70  (+ 0,71%)</span>
        </div>
      </div>
      <div class="col-5 d-flex flex-column justify-content-between pb-1">
        <div class="d-flex justify-content-end">
          <div class="mr-3 text-center">
            <button class="btn btn-silver">Торговать</button>
          </div>
          <button v-if="!isMine" class="btn btn-follow" @click="subscribe(issuer.id)">
            <span class="mr-2">Подписаться</span>
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12.5 2C6.97715 2 2.5 6.47715 2.5 12C2.5 17.5228 6.97715 22 12.5 22C18.0228 22 22.5 17.5228 22.5 12C22.5 6.47715 18.0228 2 12.5 2ZM4.5 12C4.5 7.58172 8.08172 4 12.5 4C16.9183 4 20.5 7.58172 20.5 12C20.5 16.4183 16.9183 20 12.5 20C8.08172 20 4.5 16.4183 4.5 12ZM12.5 6C13.0523 6 13.5 6.44772 13.5 7V11H17.5C18.0523 11 18.5 11.4477 18.5 12C18.5 12.5523 18.0523 13 17.5 13H13.5V17C13.5 17.5523 13.0523 18 12.5 18C11.9477 18 11.5 17.5523 11.5 17V13H7.5C6.94772 13 6.5 12.5523 6.5 12C6.5 11.4477 6.94772 11 7.5 11H11.5V7C11.5 6.44772 11.9477 6 12.5 6Z"
                    fill="#0F69FF" />
            </svg>
          </button>
          <button v-else class="btn btn-follow" @click="unsubscribe(issuer.id)">
            <span class="mr-2">Отписаться</span>
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12.5 2C6.97715 2 2.5 6.47715 2.5 12C2.5 17.5228 6.97715 22 12.5 22C18.0228 22 22.5 17.5228 22.5 12C22.5 6.47715 18.0228 2 12.5 2ZM4.5 12C4.5 7.58172 8.08172 4 12.5 4C16.9183 4 20.5 7.58172 20.5 12C20.5 16.4183 16.9183 20 12.5 20C8.08172 20 4.5 16.4183 4.5 12ZM12.5 6C13.0523 6 13.5 6.44772 13.5 7V11H17.5C18.0523 11 18.5 11.4477 18.5 12C18.5 12.5523 18.0523 13 17.5 13H13.5V17C13.5 17.5523 13.0523 18 12.5 18C11.9477 18 11.5 17.5523 11.5 17V13H7.5C6.94772 13 6.5 12.5523 6.5 12C6.5 11.4477 6.94772 11 7.5 11H11.5V7C11.5 6.44772 11.9477 6 12.5 6Z"
                    fill="#0F69FF" />
            </svg>
          </button>
        </div>
        <div class="text-right pr-3">
          <span>Капитализация</span><br><br>
          <span class="font-weight-bold">139,016 млрд UZS</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VueTypes from 'vue-types';

export default {
  name: 'IssuerHeader',
  props: {
    issuer: VueTypes.object.isRequired,
    isMine: VueTypes.bool.def(false),
  },
  data() {
    return {
      followed: false,
      unfollowed: false,
    };
  },
  computed: {
    user() {
      return this.$store.getters['auth/user'];
    },
  },
  methods: {
    async subscribe() {
      try {
        const { data: isSubscribed } = await this.$axios.post('user-issuer/subscribe', {
          issuer_id: this.$route.params.issuerId,
          user_id: this.user.id,
        });

        if (isSubscribed.status) {
          this.followed = true;
          console.log('followed');
          this.$toastSuccess(isSubscribed.data.message);
        }

      } catch (e) {
        this.$toastError(e.response.data.data.message);
      }
    },
    async unsubscribe() {
      try {
        const { data: isSubscribed } = await this.$axios.post('user-issuer/unsubscribe', {
          issuer_id: this.$route.params.issuerId,
          user_id: this.user.id,
        });

        if (isSubscribed.status) {
          this.unfollowed = true;
          console.log('followed');
          this.$toastSuccess(isSubscribed.data.message);
          await this.$router.push({ name: 'my-issuers' });
        }
      } catch (e) {
        this.$toastError(e.message);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
  $border-color: #EBECEC;
  .broker-card {
    padding: 24px;
    background-color: #fff;
    border-radius: 10px;

    .head {
      padding-bottom: 24px;
      border-bottom: 1px solid $border-color;

      .img {
        width: 150px;
        height: 150px;
        background: #C4C4C4;
        border-radius: 8px;
      }

      .title {
        font-weight: 600;
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 8px;
      }

      .btn-follow {
        padding: 12px 24px;
        border: 1px solid $border-color;
        box-sizing: border-box;
        border-radius: 8px;
        color: $blue;
      }

      .rating {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
      }
    }

    .text {
      margin-top: 24px;
    }
  }
</style>