<template>
  <div class="market-review-table">
    <div class="head row">
      <div class="col-2"></div>
      <div class="col-4 d-flex align-items-center">Компания</div>
      <div class="col-2 d-flex align-items-center">Цена</div>
      <div class="col-2 d-flex align-items-center px-0">Кол-во торгов</div>
      <div class="col-2 d-flex align-items-center px-0">Объем торгов</div>
    </div>
    <div
      v-for="(issuer, index) in issuersData"
      :key="index"
    >
      <item
        class="row market-review-card"
        :class="{ active: itemActive === issuer.id }"
        :issuer="issuer.info[1]"
        @onClick="toggle(issuer.id)"
      ></item>
    </div>

    <!--    <div class="row market-review-card">-->
    <!--      <div class="col-2">-->
    <!--        <img src="../../assets/icons/apple-icon.svg" alt="">-->
    <!--      </div>-->
    <!--      <div class="col-4">-->
    <!--        <p class="font-weight-bold">“O’zmetkombinat” AJ</p>-->
    <!--        <p class="font-weight-bold text-blue">UZMK</p>-->
    <!--      </div>-->
    <!--      <div class="col-2 d-flex align-items-center">6 958.85</div>-->
    <!--      <div class="col-2 d-flex align-items-center">900,56 млн</div>-->
    <!--      <div class="col-2 d-flex align-items-center">900,3 млн</div>-->
    <!--    </div>-->

    <!--    <div class="row market-review-card">-->
    <!--      <div class="col-2">-->
    <!--        <img src="../../assets/icons/apple-icon.svg" alt="">-->
    <!--      </div>-->
    <!--      <div class="col-4">-->
    <!--        <p class="font-weight-bold">“O’zmetkombinat” AJ</p>-->
    <!--        <p class="font-weight-bold text-blue">UZMK</p>-->
    <!--      </div>-->
    <!--      <div class="col-2 d-flex align-items-center">6 958.85</div>-->
    <!--      <div class="col-2 d-flex align-items-center">900,56 млн</div>-->
    <!--      <div class="col-2 d-flex align-items-center">900,3 млн</div>-->
    <!--    </div>-->

    <!--    <div class="row market-review-card">-->
    <!--      <div class="col-2">-->
    <!--        <img src="../../assets/icons/apple-icon.svg" alt="">-->
    <!--      </div>-->
    <!--      <div class="col-4">-->
    <!--        <p class="font-weight-bold">“O’zmetkombinat” AJ</p>-->
    <!--        <p class="font-weight-bold text-blue">UZMK</p>-->
    <!--      </div>-->
    <!--      <div class="col-2 d-flex align-items-center">6 958.85</div>-->
    <!--      <div class="col-2 d-flex align-items-center">900,56 млн</div>-->
    <!--      <div class="col-2 d-flex align-items-center">900,3 млн</div>-->
    <!--    </div>-->

    <!--    <div class="row market-review-card">-->
    <!--      <div class="col-2">-->
    <!--        <img src="../../assets/icons/apple-icon.svg" alt="">-->
    <!--      </div>-->
    <!--      <div class="col-4">-->
    <!--        <p class="font-weight-bold">“O’zmetkombinat” AJ</p>-->
    <!--        <p class="font-weight-bold text-blue">UZMK</p>-->
    <!--      </div>-->
    <!--      <div class="col-2 d-flex align-items-center">6 958.85</div>-->
    <!--      <div class="col-2 d-flex align-items-center">900,56 млн</div>-->
    <!--      <div class="col-2 d-flex align-items-center">900,3 млн</div>-->
    <!--    </div>-->

    <button class="btn btn-transparent view-all" @click="all">
      Смотреть больше
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M5.33337 4.27614L6.27624 3.33333L10.9902 8.04738L6.27624 12.7614L5.33337 11.8186L9.10464 8.04738L5.33337 4.27614Z"
              fill="#0F69FF" />
      </svg>
    </button>
  </div>
</template>

<script>
import MarketReviewTableItem from './MarketReviewTableItem';
import VueTypes from 'vue-types';

export default {
  name: 'MarketReviewTable',
  props: {
    issuersData: VueTypes.any.isRequired,
  },
  components: {
    'item': MarketReviewTableItem,
  },
  computed: {
    user() {
      return this.$store.getters['auth/user'];
    },
    issuers() {
      const all = this.$store.getters['common/issuers'];
      return all.splice(1, this.issuersCount);
    },
  },
  data() {
    return {
      itemActive: null,
      issuersCount: localStorage.getItem('itemCount') || 5,
    };
  },
  methods: {
    toggle(index) {
      this.itemActive = index;
    },
    all() {
      if (localStorage.getItem('itemCount') == 10) {
        localStorage.setItem('itemCount', '5');
        window.location.reload();
      } else {
        localStorage.setItem('itemCount', '10');
        window.location.reload();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
  .market-review-table {
    font-size: 12px;

    .head {
      margin-bottom: 8px;
    }

    .market-review-card {
      cursor: pointer;
      -webkit-border-radius: $radius;
      -moz-border-radius: $radius;
      border-radius: $radius;
      padding: 5px;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }


      &.active {
        border: 1px solid $blue
      }
    }

    .view-all {
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      color: $blue;
      margin-top: 10px;

    }
  }
</style>