<template>
  <div @click="$emit('onClick', issuer.id)">
    <div class="col-2">
      <img src="../../assets/icons/apple-icon.svg" alt="">
    </div>
    <div class="col-4">
      <p class="font-weight-bold">{{ issuer.isu_nm }}</p>
      <p class="font-weight-bold text-blue">{{ issuer.isu_srt_cd }}</p>
    </div>
    <div class="col-2 d-flex align-items-center">{{ issuer.isu_prc }}</div>
    <div class="col-2 d-flex align-items-center">900,56 млн</div>
    <div class="col-2 d-flex align-items-center">900,3 млн</div>
  </div>
</template>

<script>
import VueTypes from 'vue-types';

export default {
  name: 'MarketReviewTableItem',
  props: {
    issuer: VueTypes.any.isRequired,
  },
};
</script>

<style scoped>

</style>