<template>
  <div class="new-card">
    <p class="time">{{ time }}</p>
    <p class="text" v-html="text"></p>
  </div>
</template>

<script>
import VueTypes from 'vue-types';

export default {
  name: 'NewsCard',
  props: {
    time: VueTypes.any.def('18:12'),
    text: VueTypes.string.isRequired,
  },
};
</script>

<style lang="scss" scoped>
  .new-card {
    border-bottom: 1px solid #BDBDBD;

    .time {
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #808191;
      margin-bottom: .5rem;
      margin-top: 24px;
    }
    .text {
      margin-bottom: 24px;
    }
  }
</style>