<template>
  <div class="briefcase">
    <div class="row prices">
      <div class="col-3 d-flex">
        <div class="w-25 d-flex align-items-center">
          <span class="p-2">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M20 1H4C2.34315 1 1 2.34315 1 4V20C1 21.6569 2.34315 23 4 23H20C21.6569 23 23 21.6569 23 20V4C23 2.34315 21.6569 1 20 1ZM8 21H4C3.44772 21 3 20.5523 3 20V18.82C3.32067 18.9364 3.65886 18.9973 4 19H8V21ZM8 17H4C3.44772 17 3 16.5523 3 16V14.82C3.32067 14.9364 3.65886 14.9973 4 15H8V17ZM8 13H4C3.44772 13 3 12.5523 3 12V4C3 3.44772 3.44772 3 4 3H8V13ZM14 21H10V15H14V21ZM14 13H10V3H14V13ZM21 20C21 20.5523 20.5523 21 20 21H16V19H20C20.3411 18.9973 20.6793 18.9364 21 18.82V20ZM21 16C21 16.5523 20.5523 17 20 17H16V15H20C20.3411 14.9973 20.6793 14.9364 21 14.82V16ZM21 12C21 12.5523 20.5523 13 20 13H16V3H20C20.5523 3 21 3.44772 21 4V12ZM18 7C17.4477 7 17 7.44772 17 8C17 8.55228 17.4477 9 18 9C18.5523 9 19 8.55228 19 8C19 7.44772 18.5523 7 18 7ZM6 9C6.55228 9 7 8.55228 7 8C7 7.44772 6.55228 7 6 7C5.44772 7 5 7.44772 5 8C5 8.55228 5.44772 9 6 9Z"
                  fill="#0F69FF" />
            </svg>
          </span>
        </div>
        <div class="w-75">
          <p>Демо-счет</p>
          <p>Виртуальный счет</p>
        </div>
      </div>
      <div class="col-3 d-flex">
        <div class="w-75">
          <p>1 000 000 сумов</p>
          <p>Стоимость портфеля</p>
        </div>
        <div class="w-25">
          <span class="p-2">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM12 20C7.58172 20 4 16.4183 4 12C4 7.58172 7.58172 4 12 4C16.4183 4 20 7.58172 20 12C20 16.4183 16.4183 20 12 20ZM12 6.05115C11.4477 6.05115 11 6.49886 11 7.05115C11 7.60343 11.4477 8.05115 12 8.05115C12.5523 8.05115 13 7.60343 13 7.05115C13 6.49886 12.5523 6.05115 12 6.05115ZM11 10.9794C11 10.4271 11.4477 9.97937 12 9.97937C12.5523 9.97937 13 10.4271 13 10.9794V16.9794C13 17.5317 12.5523 17.9794 12 17.9794C11.4477 17.9794 11 17.5317 11 16.9794V10.9794Z"
                    fill="#808191" />
            </svg>
          </span>
        </div>
      </div>
      <div class="col-3">
        <p>{{ calculateResult }} сумов</p>
        <p>Стоимость портфеля</p>
      </div>
      <div class="col-3">
        <p>1 000 000 сумов</p>
        <p>Стоимость портфеля</p>
      </div>
    </div>
    <vue-tabs
      class="tabs"
      type="pills"
      active-tab-color="rgba(11, 105, 255, 0.1"
      active-text-color="#0F69FF"
    >
      <v-tab title="Мои активы" class="actives">
        <accordion>
          <accordion-item>
            <!-- This slot will handle the title/header of the accordion and is the part you click on -->
            <template slot="accordion-trigger">
              <h3>Акции</h3>
            </template>
            <!-- This slot will handle all the content that is passed to the accordion -->
            <template slot="accordion-content">
              <bootstrap-table></bootstrap-table>
            </template>
          </accordion-item>

          <accordion-item>
            <!-- This slot will handle the title/header of the accordion and is the part you click on -->
            <template slot="accordion-trigger" class="bonds-header">
              <h3>Облигации</h3>
            </template>
            <!-- This slot will handle all the content that is passed to the accordion -->
            <template slot="accordion-content">
              <div class="bonds">
                <p>Здесь должен быть текст какой-нибудь, который привлечет внимание пользователя на покупки
                  облигаций</p>
                <button class="btn btn-blue">Купить облигации</button>
              </div>
            </template>
          </accordion-item>
        </accordion>

        <div class="trend">
          <p>В тренде</p>
          <bootstrap-table></bootstrap-table>
        </div>
        <div class="trend">
          <p>Часто задаваемые вопросы</p>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item border-0">
              <h2 class="accordion-header" id="headingOne">
                <button style="border-radius: 12px; background-color: #fff; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);"
                        class="px-5 py-3 font-weight-bold mb-2 accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Вопрос ?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Ответь
                </div>
              </div>
            </div>
            <div class="accordion-item border-0">
              <h2 class="accordion-header" id="headingTwo">
                <button style="border-radius: 12px; background-color: #fff; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);"
                        class="px-5 py-3 font-weight-bold mb-2 accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Вопрос ?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Ответь
                </div>
              </div>
            </div>
          </div>
        </div>
      </v-tab>

      <v-tab title="Статистика" class="stats">
        <div class="accordion mt-5" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                      aria-expanded="true" aria-controls="collapseOne">
                Распределение денежных средств
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="row">
                  <div class="col-6">
                    <div style="width: 100%;">
                      <canvas id="chart-container"></canvas>
                    </div>
                  </div>
                  <div class="col-6"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Стоимость портфеля
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="row">
                  <div class="col-10">
                    <div style="width: 100%;">
                      <canvas id="line-chart-container"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="trend mt-5">
          <p class="font-weight-bold mb-3">В тренде</p>
          <bootstrap-table></bootstrap-table>
        </div>
        <div class="trend">
          <p class="font-weight-bold mb-3">Часто задаваемые вопросы</p>

          <div class="accordion" id="accordionExample2">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1"
                        aria-expanded="true" aria-controls="collapseOne1">
                  Вопрос?
                </button>
              </h2>
              <div id="collapseOne1" class="accordion-collapse collapse show" aria-labelledby="headingOne1"
                   data-bs-parent="#accordionExample2">
                <div class="accordion-body">
                  Ответ
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne2">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2"
                        aria-expanded="true" aria-controls="collapseOne2">
                  Вопрос?
                </button>
              </h2>
              <div id="collapseOne2" class="accordion-collapse collapse " aria-labelledby="headingOne2"
                   data-bs-parent="#accordionExample2">
                <div class="accordion-body">
                  Ответ
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne3">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne3"
                        aria-expanded="true" aria-controls="collapseOne3">
                  Вопрос?
                </button>
              </h2>
              <div id="collapseOne3" class="accordion-collapse collapse " aria-labelledby="headingOne3"
                   data-bs-parent="#accordionExample2">
                <div class="accordion-body">
                  Ответ
                </div>
              </div>
            </div>
          </div>
        </div>
      </v-tab>

      <v-tab title="История" class="history mt-4">
        <vue-tabs
          class="tabs"
          type="pills"
          active-tab-color="rgba(11, 105, 255, 0.1"
          active-text-color="#0F69FF"
        >
          <v-tab title="Все">
            Все
            <bootstrap-table></bootstrap-table>
          </v-tab>
          <v-tab title="Акции">
            Акции
            <bootstrap-table></bootstrap-table>
          </v-tab>
          <v-tab title="Облигации">
            Облигации
            <bootstrap-table></bootstrap-table>
          </v-tab>
        </vue-tabs>
      </v-tab>
    </vue-tabs>
  </div>
</template>

<script>
import Chart from 'chart.js';
import Accordion from '../components/Accordion';
import AccordionItem from '../components/AccordionItem';
import BootstrapTable from '../components/table/BootstrapTable';

export default {
  name: 'BriefcasePage',
  data() {
    return {
      chart: null,
      issuers: [],
    };
  },
  computed: {
    calculateResult() {
      return this.$store.getters['common/getCalculate'];
    },
  },
  components: {
    Accordion,
    AccordionItem,
    BootstrapTable,
  },
  mounted() {
    this.$store.dispatch('common/title', 'Мой портфель');
    const doughnut = document.getElementById('chart-container');
    const line = document.getElementById('line-chart-container');
    const chartDataDougout = {
      type: 'doughnut',
      data: {
        labels: [
          'Red',
          'Blue',
          'Yellow',
        ],
        datasets: [{
          label: 'My First Dataset',
          data: [300, 50, 100],
          backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)',
          ],
          hoverOffset: 4,
        }],
      },
      options: {
        legend: {
          position: 'right',
        },
      },
    };
    const chartDataLine = {
      type: 'line',
      data: {
        labels: [1, 2, 3, 4, 5, 6, 7],
        datasets: [{
          label: 'My First Dataset',
          data: [65, 59, 80, 81, 56, 55, 40],
          fill: false,
          borderColor: 'rgb(75, 192, 192)',
          tension: 0.1,
        }],
      },
      options: {
        legend: {
          position: 'right',
        },
      },
    };
    new Chart(doughnut, chartDataDougout);
    new Chart(line, chartDataLine);
  },
};
</script>

<style lang="scss" scoped>
  .briefcase {
    padding-bottom: 100px;

    .prices {
      background-color: #F7F7F7;
      padding: 12px 8px;
      margin: 32px 0 44px 0;
      -webkit-border-radius: $radius;
      -moz-border-radius: $radius;
      border-radius: $radius;
    }

    .actives {
      margin-top: 32px;

      .trend {
        margin-top: 56px;

        p {
          font-weight: bold;
          font-size: 16px;
          line-height: 16px;
          margin-bottom: 32px;
        }
      }
    }

    .bonds {
      text-align: center;

      p {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        margin: 40px 0;
      }

      button {
        padding: 12px 24px;
        margin-bottom: 48px;
        border-radius: $radius;
      }
    }
  }
</style>