<template>
  <div v-if="brokers.length > 0" class="brokers-page">
    <div class="row">
      <div class="col-3 d-flex align-items-center">
        <p class="title">Брокеры</p>
      </div>
      <div class="col-9 d-flex align-items-center justify-content-end">
        <span class="font-weight-bold mr-3">Фильтр:</span>
        <select name="themes" class="mr-3">
          <option value="" disabled selected hidden>Все</option>
          <option
            v-for="(theme, index) in sort"
            :key="index"
            :value="theme.value"
          >
            {{ theme.text }}
          </option>
        </select>
        <select class="mr-3" name="drinks" required>
          <option value="" disabled selected hidden>По убыванию</option>
        </select>
        <search-input />
      </div>
    </div>
    <div v-if="brokers.length > 0" class="list">
      <broker-card
        v-for="broker in brokers"
        :key="broker.id"
        :broker="broker"
        :isSubscribed="false"
        data-aos="fade-up"
        data-aos-delay="100"
      ></broker-card>
    </div>
    <vue-loaders name="ball-beat" v-else color="blue" class="d-flex justify-content-center mt-5" />
  </div>
</template>

<script>
import BrokerCard from '../components/cards/BrokerCard';
import SearchInput from '../components/forms/SearchInput';

export default {
  name: 'BrokersPage',
  data() {
    return {
      sort: [
        { value: 'all', text: 'Все' },
        { value: 'count', text: 'Кол-во сделок' },
        { value: 'how', text: 'Объем сделок' },
        { value: 'rating', text: 'Рейтинг' },
      ],
      brokers: [],
    };
  },
  computed: {
    user() {
      return this.$store.getters['auth/user'];
    },
  },
  components: {
    BrokerCard,
    SearchInput,
  },
  async created() {
    await this.$store.dispatch('common/title', '');
    try {
      const { data: brokers } = await this.$axios.get(`broker-member`);
      this.brokers = brokers.data;
    } catch (e) {
      this.$toastError(e.message);
    }
  },
  methods: {
    async subscribe() {
      try {
        const { data: isSubscribed } = await this.$axios.post('user-issuer/subscribe', {
          issuer_id: this.$route.params.issuerId,
          user_id: this.user.id,
        });

        if (isSubscribed.status) {
          this.followed = true;
          console.log('followed');
          this.$toastSuccess(isSubscribed.data.message);
        }

      } catch (e) {
        this.$toastError(e.response.data.data.message);
      }
    },
    async unsubscribe() {
      try {
        const { data: isSubscribed } = await this.$axios.post('user-issuer/unsubscribe', {
          issuer_id: this.$route.params.issuerId,
          user_id: this.user.id,
        });

        if (isSubscribed.status) {
          this.unfollowed = true;
          console.log('followed');
          this.$toastSuccess(isSubscribed.data.message);
          await this.$router.push({ name: 'my-issuers' });
        }
      } catch (e) {
        this.$toastError(e.message);
      }
    },
  }
};
</script>

<style lang="scss" scoped>
  .brokers-page {
    .title {
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
    }

    .list {
      margin-top: 48px;
    }

    select {
      padding: 18px 32px;
      background: $grey;
      color: $black;
      border: none;
      border-radius: 16px;
    }
  }
</style>