<template>
  <div class="broker-page">
    <broker-header :broker="broker" />
    <section class="news">
      <p class="font-weight-bold" style="font-size: 24px;">Новости брокера</p>

      <news-card
        text="В соответствии с Указом Президента Республики Узбекистан от 27.10.2020 ПФ-6096 51% доля государства в уставном капитале АО «Qizilqumsement» выставлены на биржевые торги. Настоящим доводим до Вашего сведения, что в соответствии с решением Правления АО РФБ «Тошкент» №40 от 15.04.2021 г. вносятся изменения и дополнения в График торгов в секциях"></news-card>
      <news-card
        text="В соответствии с Указом Президента Республики Узбекистан от 27.10.2020 ПФ-6096 51% доля государства в уставном капитале АО «Qizilqumsement» выставлены на биржевые торги. Настоящим доводим до Вашего сведения, что в соответствии с решением Правления АО РФБ «Тошкент» №40 от 15.04.2021 г. вносятся изменения и дополнения в График торгов в секциях"></news-card>
      <news-card
        text="В соответствии с Указом Президента Республики Узбекистан от 27.10.2020 ПФ-6096 51% доля государства в уставном капитале АО «Qizilqumsement» выставлены на биржевые торги. Настоящим доводим до Вашего сведения, что в соответствии с решением Правления АО РФБ «Тошкент» №40 от 15.04.2021 г. вносятся изменения и дополнения в График торгов в секциях"></news-card>

    </section>
    <section class="about">
      <div class="row">
        <div class="col-6">
          <p class="font-weight-bold" style="font-size: 24px; margin: 40px 0;">Вам могут быть интересны эти акции</p>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-end">
          <span class="mr-2">Выберите дату</span>
          <button class="btn sort-button">12.03.2021</button>
          <button class="btn sort-button">12.04.2021</button>
          <button class="btn sort-button">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12 4C11.4477 4 11 4.44772 11 5V12.1575L7.75748 8.91501L6.34326 10.3292L12.0001 15.9861L17.657 10.3292L16.2428 8.91501L13 12.1578V5C13 4.44772 12.5523 4 12 4ZM6 14H4V18C4 19.1046 4.89543 20 6 20H18C19.1046 20 20 19.1046 20 18V14H18V18H6V14Z"
                    fill="#0F69FF" />
            </svg>
          </button>
        </div>
      </div>
      <bootstrap-table />
    </section>
  </div>
</template>

<script>
import VueTypes from 'vue-types';
import BrokerHeader from '../components/cards/BrokerHeader';
import NewsCard from '../components/cards/NewsCard';
import BootstrapTable from '../components/table/BootstrapTable';

export default {
  name: 'BrokerPage',
  props: {
    brokerId: VueTypes.any.isRequired,
  },
  data() {
    return {
      broker: {},
    };
  },
  components: {
    BootstrapTable,
    BrokerHeader,
    NewsCard,
  },
  async created() {
    await this.$store.dispatch('common/title', 'Брокеры');
    const { data: broker } = await this.$axios.get(`broker-member/${this.brokerId}`);
    this.broker = broker;
  },
};
</script>

<style lang="scss" scoped>
  .sort-button {
    border-radius: .5rem;
    background-color: $darkgrey;
    color: $blue;
    font-weight: bold;
    padding: 12px 24px;
    margin-right: .5rem;

    &:last-child {
      margin-right: 0;
    }
  }
</style>