<template>
  <div>
    Calculator
  </div>
</template>

<script>
export default {
  name: 'CalculatorPage',
  created() {
    this.$store.dispatch('common/title', '');
  },
};
</script>

<style scoped>

</style>