<template>
  <div class="company">
    <section class="about">
      <h2>Акции “Qizilqumsement” AJ (QZSM)</h2>
      <div class="d-flex justify-content-start mb-5">
        <router-link to="/" class="mr-4">Статистика</router-link>
        <router-link to="/">Дивиденды</router-link>
      </div>
      <div class="row">
        <div class="col-3 mt-5">
          <company-card />
        </div>
        <div class="col-9">
          <section class="market-review">
            <p class="title">Обзор рынка</p>
            <div class="row">
              <div class="col-12 mb-2">
                <div class="sort">
                  <button class="btn sort-button">1 ден</button>
                  <button class="btn sort-button">1 мес</button>
                  <button class="btn sort-button">3 мес</button>
                  <button class="btn sort-button">1 г</button>
                  <button class="btn sort-button">5 г</button>
                  <button class="btn sort-button">Все</button>
                </div>
              </div>
              <div class="col-12">
                <div style="width: 100%;">
                  <canvas id="line-chart-container" style="height: 340px;"></canvas>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
    <section class="about">
      <h2>О компании</h2>
      <p>В соответствии с Указом Президента Республики Узбекистан от 27.10.2020 ПФ-6096 51% доля государства в уставном
        капитале АО «Qizilqumsement» выставлены на биржевые торги. Настоящим доводим до Вашего сведения, что в
        соответствии с решением Правления АО РФБ «Тошкент» №40 от 15.04.2021 г. вносятся изменения и дополнения в График
        торгов в секциях</p>
      <br>
      <p>В соответствии с Указом Президента Республики Узбекистан от 27.10.2020 ПФ-6096 51% доля государства в уставном
        капитале АО «Qizilqumsement» выставлены на биржевые торги. Настоящим доводим до Вашего сведения, что в
        соответствии с решением Правления АО РФБ «Тошкент» №40 от 15.04.2021 г. вносятся изменения и дополнения в График
        торгов в секциях</p>
    </section>
    <div class="row">
      <div class="col-3">
        <p>Капитализация</p>
        <p>Выручка</p>
        <p>Свой капитал</p>
      </div>
      <div class="col-3">
        <p>139,016 млрд UZS</p>
        <p>139,016 млрд UZS</p>
        <p>139,016 млрд UZS</p>
      </div>
      <div class="col-3">
        <p>139,016 млрд UZS</p>
        <p>139,016 млрд UZS</p>
        <p>139,016 млрд UZS</p>
      </div>
      <div class="col-3">
        <p>139,016 млрд UZS</p>
        <p>139,016 млрд UZS</p>
        <p>139,016 млрд UZS</p>
      </div>
    </div>
    <section class="news">
      <p>Новости</p>

      <news-card
        text="В соответствии с Указом Президента Республики Узбекистан от 27.10.2020 ПФ-6096 51% доля государства в уставном капитале АО «Qizilqumsement» выставлены на биржевые торги. Настоящим доводим до Вашего сведения, что в соответствии с решением Правления АО РФБ «Тошкент» №40 от 15.04.2021 г. вносятся изменения и дополнения в График торгов в секциях"></news-card>
      <news-card
        text="В соответствии с Указом Президента Республики Узбекистан от 27.10.2020 ПФ-6096 51% доля государства в уставном капитале АО «Qizilqumsement» выставлены на биржевые торги. Настоящим доводим до Вашего сведения, что в соответствии с решением Правления АО РФБ «Тошкент» №40 от 15.04.2021 г. вносятся изменения и дополнения в График торгов в секциях"></news-card>
      <news-card
        text="В соответствии с Указом Президента Республики Узбекистан от 27.10.2020 ПФ-6096 51% доля государства в уставном капитале АО «Qizilqumsement» выставлены на биржевые торги. Настоящим доводим до Вашего сведения, что в соответствии с решением Правления АО РФБ «Тошкент» №40 от 15.04.2021 г. вносятся изменения и дополнения в График торгов в секциях"></news-card>

    </section>
    <section class="about">
      <h2>Вам могут быть интересны эти акции</h2>
      <bootstrap-table />
    </section>
  </div>
</template>

<script>
import Chart from 'chart.js';
import NewsCard from '../components/cards/NewsCard';
import CompanyCard from '../components/cards/CompanyCard';
import BootstrapTable from '../components/table/BootstrapTable';

export default {
  name: 'CompanyPage',
  components: {
    NewsCard,
    CompanyCard,
    BootstrapTable
  },
  mounted() {
    const line = document.getElementById('line-chart-container');
    const chartDataLine = {
      type: 'line',
      data: {
        labels: [1, 2, 3, 4, 5, 6, 7],
        datasets: [{
          label: 'My First Dataset',
          data: [65, 59, 80, 81, 56, 55, 40],
          fill: false,
          borderColor: 'rgb(75, 192, 192)',
          tension: 0.1,
        }],
      },
      options: {
        legend: {
          position: 'right',
        },
      },
    };
    new Chart(line, chartDataLine);
  },
};
</script>

<style lang="scss" scoped>
  .market-review {

    .title {
      font-weight: bold;
      font-size: 24px;
      line-height: 24px;
      color: #0C163A;
      margin-bottom: 24px;
    }

    .sort {
      display: flex;
      justify-content: flex-end;

      .sort-button {
        border-radius: .5rem;
        background-color: $darkgrey;
        color: $blue;
        font-weight: bold;
        padding: 12px 24px;
        margin-right: .5rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .news {
    p {
      margin-top: 3rem;
      margin-bottom: 2rem;
      font-weight: bold;
      font-size: 24px;
      line-height: 24px;
    }

    margin-bottom: 100px;
  }

  .about {
    h2 {
      margin-top: 3rem;
      margin-bottom: 2rem;
      font-weight: bold;
      font-size: 24px;
      line-height: 24px;
    }

    margin-bottom: 60px;
  }
</style>