<template>
  <div class="home-page">
    <!--    <marquee behaivor="scroll" loop="true" scrollamount="10" direction="left">-->
    <div class="d-flex justify-content-end mr-3 mb-3">
      <button class="btn btn-transparent p-2" @click="swiper.slidePrev()">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M19 23C21.2091 23 23 21.2091 23 19V5C23 2.79086 21.2091 1 19 1H5C2.79086 1 1 2.79086 1 5V19C1 21.2091 2.79086 23 5 23H19ZM5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21ZM10.5339 16.2427L11.9481 14.8285L10.1197 13H17.6568V11H10.1197L11.9481 9.17161L10.5339 7.7574L6.29126 12L10.5339 16.2427Z"
                fill="#0052CC" />
        </svg>
      </button>
      <button class="btn btn-transparent p-2" @click="swiper.slideNext()">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M5 23C2.79086 23 1 21.2091 1 19V5C1 2.79086 2.79086 1 5 1H19C21.2091 1 23 2.79086 23 5V19C23 21.2091 21.2091 23 19 23H5ZM19 21H5C3.89543 21 3 20.1046 3 19V5C3 3.89543 3.89543 3 5 3H19C20.1046 3 21 3.89543 21 5V19C21 20.1046 20.1046 21 19 21ZM13.4661 16.2427L12.0519 14.8285L13.8803 13H6.34318V11H13.8803L12.0519 9.17161L13.4661 7.7574L17.7087 12L13.4661 16.2427Z"
                fill="#0052CC" />
        </svg>
      </button>

    </div>
    <swiper ref="mySwiper" :options="swiperOption">
      <swiper-slide
        v-for="issuer in issuers"
        :key="issuer.id"
      >
        <carousel-card class="mr-2" :issuer="issuer" />
      </swiper-slide>
    </swiper>
    <!--    </marquee>-->
    <section class="market-review">
      <div class="row">
        <div data-aos="fade-left" class="col-6">
          <p class="title">Обзор рынка</p>
          <div style="width: 100%;">
            <img src="../assets/img/review-graph.jpg" alt="" class="img-fluid">
            <!--            <canvas id="line-chart-container"></canvas>-->
          </div>
        </div>
        <div data-aos="fade-right" class="col-6">
          <div class="sort mb-2">
            <button class="btn sort-button active">1 ден</button>
            <button class="btn sort-button">1 мес</button>
            <button class="btn sort-button">3 мес</button>
            <button class="btn sort-button">1 г</button>
            <button class="btn sort-button">5 г</button>
            <button class="btn sort-button">Все</button>
          </div>
          <market-review-table :issuers-data="issuersData" />
        </div>
      </div>
    </section>
    <section class="deals">
      <div class="filter">
        <span class="mr-4">Веберите период</span>
        <input
          v-model="dealsFrom"
          type="date"
          class="btn btn-blue"
        >
        -
        <input
          v-model="dealsTo"
          type="date"
          class="btn btn-blue"
        />
      </div>

      <div class="row horizontal">
        <div class="col-2">
          <info-card text="Кол-во сделок" number="5 696" class="info" />
        </div>
        <div class="col-5">
          <p>Количество заключенных сделок в разрезе отраслей</p>
          <div class="w-100">
            <canvas id="horizontal-chart-container"></canvas>
          </div>
        </div>
        <div class="col-5">
          <p>Топ ценных бумаг по объему сделок</p>
          <table class="table">
            <thead>
            <tr>
              <th class="border-bottom-0 border-top-0 text-muted" scope="col">No</th>
              <th class="border-bottom-0 border-top-0 text-muted" scope="col">Компания</th>
              <th class="border-bottom-0 border-top-0 text-muted" scope="col">Кол-во</th>
            </tr>
            </thead>
            <tbody style="font-weight: 500;">
            <tr v-for="(issuer, index) in issuersData"
                :key="issuer.id"
            >
              <th scope="row">{{ index + 1 }}</th>
              <td>{{ issuer.info[0].isu_abbrv }}</td>
              <td>{{ issuer.info[0].isu_idx }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row doughnut">
        <div class="col-2">
          <info-card class="info" />
        </div>
        <div class="col-5">
          <p>Объем заключенных сделок в разрезе отраслей</p>
          <div class="w-100">
            <canvas id="doughnut-chart-container"></canvas>
          </div>
        </div>
        <div class="col-5">
          <p>Топ ценных бумаг по объему сделок</p>
          <table class="table">
            <thead>
            <tr>
              <th class="border-bottom-0 border-top-0 text-muted" scope="col">No</th>
              <th class="border-bottom-0 border-top-0 text-muted" scope="col">Компания</th>
              <th class="border-bottom-0 border-top-0 text-muted" scope="col">Кол-во</th>
            </tr>
            </thead>
            <tbody style="font-weight: 500;">
            <tr v-for="(issuer, index) in issuersData"
                :key="issuer.id"
            >
              <th scope="row">{{ index + 1 }}</th>
              <td>{{ issuer.info[0].isu_nm }}</td>
              <td>{{ issuer.info[0].isu_idx }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <section class="four-card row">
      <div class="col-3" data-aos="fade-down"
           data-aos-delay="100">
        <info-card text="Количество  эмитентов" number="68" />
      </div>

      <div class="col-3" data-aos="fade-up"
           data-aos-delay="100">
        <info-card text="Количество ценных бумаг" number="79,3 млн" />
      </div>

      <div class="col-3" data-aos="fade-down"
           data-aos-delay="100">
        <info-card text="Покупка" number="644" />
      </div>

      <div class="col-3" data-aos="fade-up"
           data-aos-delay="100">
        <info-card text="Продажа" number="587" />
      </div>
    </section>

    <section class="news">
      <p>Стакан заявок</p>
      <div class="row" style="font-size: 14px;">
        <div class="col-md-4"
             style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); padding: 12px 0 12px 20px; border-radius: 12px; margin-top: 48px;">
          <div class="mb-3">
            <div class="row mb-2">
              <div class="col-4 text-danger">18446.62230935</div>
              <div class="col-4 text-right">5.43268623</div>
              <div class="col-4">5.43268623</div>
            </div>
            <div class="row mb-2">
              <div class="col-4 text-danger">18446.62230935</div>
              <div class="col-4 text-right">5.43268623</div>
              <div class="col-4">5.43268623</div>
            </div>
            <div class="row mb-2">
              <div class="col-4 text-danger">18446.62230935</div>
              <div class="col-4 text-right">5.43268623</div>
              <div class="col-4">5.43268623</div>
            </div>
            <div class="row mb-2">
              <div class="col-4 text-danger">18446.62230935</div>
              <div class="col-4 text-right">5.43268623</div>
              <div class="col-4">5.43268623</div>
            </div>
            <div class="row mb-2">
              <div class="col-4 text-danger">18446.62230935</div>
              <div class="col-4 text-right">5.43268623</div>
              <div class="col-4">5.43268623</div>
            </div>
            <div class="row mb-2">
              <div class="col-4 text-danger">18446.62230935</div>
              <div class="col-4 text-right">5.43268623</div>
              <div class="col-4">5.43268623</div>
            </div>
            <div class="row mb-2">
              <div class="col-4 text-danger">18446.62230935</div>
              <div class="col-4 text-right">5.43268623</div>
              <div class="col-4">5.43268623</div>
            </div>
          </div>
          <div>
            <div class="row mb-2">
              <div class="col-4 text-green">18446.62230935</div>
              <div class="col-4 text-right">5.43268623</div>
              <div class="col-4">5.43268623</div>
            </div>
            <div class="row mb-2">
              <div class="col-4 text-green">18446.62230935</div>
              <div class="col-4 text-right">5.43268623</div>
              <div class="col-4">5.43268623</div>
            </div>
            <div class="row mb-2">
              <div class="col-4 text-green">18446.62230935</div>
              <div class="col-4 text-right">5.43268623</div>
              <div class="col-4">5.43268623</div>
            </div>
            <div class="row mb-2">
              <div class="col-4 text-green">18446.62230935</div>
              <div class="col-4 text-right">5.43268623</div>
              <div class="col-4">5.43268623</div>
            </div>
            <div class="row mb-2">
              <div class="col-4 text-green">18446.62230935</div>
              <div class="col-4 text-right">5.43268623</div>
              <div class="col-4">5.43268623</div>
            </div>
            <div class="row mb-2">
              <div class="col-4 text-green">18446.62230935</div>
              <div class="col-4 text-right">5.43268623</div>
              <div class="col-4">5.43268623</div>
            </div>
            <div class="row mb-2">
              <div class="col-4 text-green">18446.62230935</div>
              <div class="col-4 text-right">5.43268623</div>
              <div class="col-4">5.43268623</div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <table class="table table-borderless mb-0">
            <thead>
            <tr>
              <th scope="col">Время</th>
              <th scope="col">Тикер</th>
              <th scope="col">Кол-во сделок</th>
              <th scope="col">Цена</th>
            </tr>
            </thead>
          </table>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item border-0">
              <h2 class="accordion-header" id="headingOne">
                <button style="border-radius: 12px; background-color: #fff; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);"
                        class="p-2 mb-2 accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <table class="table table-borderless mb-0">
                    <thead>
                    <tr>
                      <th scope="col">16:18</th>
                      <th scope="col">QZSM</th>
                      <th scope="col">10</th>
                      <th scope="col">6 548</th>
                    </tr>
                    </thead>
                  </table>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <table class="table">
                    <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="accordion-item border-0">
              <h2 class="accordion-header" id="headingTwo">
                <button style="border-radius: 12px; background-color: #fff; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);"
                        class="p-2 mb-2 accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <table class="table table-borderless mb-0">
                    <thead>
                    <tr>
                      <th scope="col">16:18</th>
                      <th scope="col">QZSM</th>
                      <th scope="col">10</th>
                      <th scope="col">6 548</th>
                    </tr>
                    </thead>
                  </table>
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <table class="table">
                    <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="accordion-item border-0">
              <h2 class="accordion-header" id="headingThree">
                <button
                  style="border-radius: 12px; background-color: #fff; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);"
                  class="p-2 accordion-button collapsed mb-2"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  <table class="table table-borderless mb-0">
                    <thead>
                    <tr>
                      <th scope="col">16:18</th>
                      <th scope="col">QZSM</th>
                      <th scope="col">10</th>
                      <th scope="col">6 548</th>
                    </tr>
                    </thead>
                  </table>
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <table class="table">
                    <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="accordion-item border-0">
              <h2 class="accordion-header" id="headingFour">
                <button style="border-radius: 12px; background-color: #fff; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);"
                        class="p-2 mb-2 accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                  <table class="table table-borderless mb-0">
                    <thead>
                    <tr>
                      <th scope="col">16:18</th>
                      <th scope="col">QZSM</th>
                      <th scope="col">10</th>
                      <th scope="col">6 548</th>
                    </tr>
                    </thead>
                  </table>
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <table class="table">
                    <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="news">
      <p>Новости</p>
      <vue-tabs
        class="tabs"
        type="pills"
        active-tab-color="rgba(11, 105, 255, 0.1"
        active-text-color="#0F69FF"
      >
        <v-tab title="Все" class="actives">
          <news-card
            v-for="data in news"
            :key="data.id"
            data-aos="fade-up"
            data-aos-delay="100"
            :text="data.content"
            :time="data.write_date"
          />
        </v-tab>
        <v-tab title="Брокера" class="brokers">
          <news-card
            v-for="data in brokerNews"
            :key="data.id"
            data-aos="fade-up"
            data-aos-delay="100"
            :text="data.content"
            :time="data.write_date"
          />
        </v-tab>
        <v-tab title="Эмитентов" class="issuers">
          <news-card
            v-for="data in issuerNews"
            :key="data.id"
            data-aos="fade-up"
            data-aos-delay="100"
            :text="data.content"
            :time="data.write_date"
          />
        </v-tab>
      </vue-tabs>
    </section>

  </div>
</template>

<script>
import Chart from 'chart.js';
import CarouselCard from '../components/cards/CarouselCard';
import InfoCard from '../components/cards/InfoCard';
import NewsCard from '../components/cards/NewsCard';
import MarketReviewTable from '../components/cards/MarketReviewTable';
import { Swiper, SwiperSlide } from 'vue-awesome-swiper';
import 'swiper/swiper.min.css';

export default {
  name: 'HomePage',
  components: {
    CarouselCard,
    MarketReviewTable,
    InfoCard,
    NewsCard,
    SwiperSlide,
    Swiper,
  },
  computed: {
    user() {
      return this.$store.getters['auth/user'];
    },
    swiper() {
      return this.$refs.mySwiper.$swiper;
    },
    issuers() {
      return this.$store.getters['common/issuers'];
    },
  },
  data() {
    return {
      from: '',
      to: '',
      dealsFrom: new Date(),
      dealsTo: new Date() + 1,
      // issuers: {},
      issuersData: [],
      news: [],
      brokerNews: [],
      issuerNews: [],
      loading: false,
      swiperOption: {
        paginationClickable: true,
        prevButton: '.swiper-button-prev',
        nextButton: '.swiper-button-next',
        loop: true,
        autoplay: 3000,
        pagination: '.swiper-pagination',
        slidesPerView: 4,
        spaceBetween: 24,
        grabCursor: true,
      },
    };
  },
  async created() {
    this.loading = true;
    const { data: response } = await this.$axios.get(`user-issuer/${this.user.id}`);

    if (response.status) {
      // todo: info qo'shish kere
      this.issuersData = response.data.issuers;
      this.loading = false;
    }

    const { data: news } = await this.$axios.get('board');
    const { data: brokerNews } = await this.$axios.get('board?page=2');
    const { data: issuerNews } = await this.$axios.get('board?page=3');

    this.news = news.data;
    this.brokerNews = brokerNews.data;
    this.issuerNews = issuerNews.data;

  },
  mounted() {
    this.$store.dispatch('common/title', '');
    this.$store.dispatch('common/getIssuers');

    // const line = document.getElementById('line-chart-container');
    const horizontal = document.getElementById('horizontal-chart-container');
    const doughnut = document.getElementById('doughnut-chart-container');

    // const chartDataLine = {
    //   type: 'line',
    //   data: {
    //     labels: [1, 2, 3, 4, 5, 6, 7],
    //     datasets: [{
    //       label: 'My First Dataset',
    //       data: [65, 59, 80, 81, 56, 55, 40],
    //       fill: false,
    //       borderColor: 'rgb(75, 192, 192)',
    //       tension: 0.1,
    //     }],
    //   },
    //   options: {
    //     legend: {
    //       position: 'right',
    //     },
    //   },
    // };
    const horizontalData = {
      type: 'horizontalBar',
      data: {
        labels: [
          'Строительство',
          'Банки',
          'Промышленность',
          'Прочие',
          'Энергетика',
          'АПК',
          'Страхование',
          'Связь',
          'Лизинг',
          'Транспорт',
        ],
        datasets: [{
          data: [
            2500,
            2000,
            1800,
            1500,
            1400,
            1300,
            1200,
            1100,
            500,
            200,
          ],
          backgroundColor: ['#1F76F8', '#1F76F8', '#1F76F8', '#1F76F8', '#1F76F8', '#1F76F8', '#1F76F8', '#1F76F8', '#1F76F8', '#1F76F8'],
        }],
      },
    };
    const chartDataDougout = {
      type: 'doughnut',
      data: {
        labels: [
          'Red',
          'Blue',
          'Yellow',
        ],
        datasets: [{
          label: 'My First Dataset',
          data: [300, 50, 100],
          backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)',
          ],
          hoverOffset: 4,
        }],
      },
      options: {
        legend: {
          position: 'bottom',
        },
      },
    };

    // new Chart(line, chartDataLine);
    new Chart(horizontal, horizontalData);
    new Chart(doughnut, chartDataDougout);
  },
  // async created() {
  //   try {
  //     const { data: issuers } = await this.$axios.get(`user-issuer/subscriptions/${this.user.id}`);
  //
  //     this.issuers = issuers;
  //   } catch (e) {
  //     this.$toastError(e.message);
  //   }
  // },
};
</script>

<style lang="scss" scoped>
  .home-page {
    padding: 20px;
  }

  .info {
    margin-top: 60px;
  }

  .market-review {
    margin-top: 130px;

    .title {
      font-weight: bold;
      font-size: 24px;
      line-height: 24px;
      color: #0C163A;
      margin-bottom: 24px;
    }

    .sort {
      display: flex;
      justify-content: flex-end;

      .sort-button {
        border-radius: .5rem;
        background-color: #fff;
        color: #808191;
        font-weight: normal;
        /*padding: 12px 24px;*/
        margin-right: .5rem;

        &.active {
          background-color: $darkgrey;
          color: $blue;
          font-weight: bold;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .deals {
    .filter {
      margin-top: 32px;
      margin-bottom: 40px;

      span {
        font-weight: bold;
        font-size: 18px;
      }
    }

    .horizontal {
      margin-bottom: 68px;

      p {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.125714px;
        margin-bottom: 20px;
      }
    }

    .doughnut {
      p {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.125714px;
        margin-bottom: 20px;

      }
    }
  }

  .four-card {
    margin-top: 45px;
  }

  .news {
    p {
      margin-top: 3rem;
      margin-bottom: 2rem;
      font-weight: bold;
      font-size: 24px;
      line-height: 24px;
    }

    margin-bottom: 100px;
  }
</style>