<template>
  <div class="broker-page">
    <issuer-header
      :issuer="issuer"
      :is-mine="$route.query.my"
    />

    <section>
      <div class="row">
        <div class="col-6">
          <p class="font-weight-bold" style="font-size: 24px; margin: 40px 0;">Общая статистика</p>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-end">
          <button class="btn btn-silver mr-3">
            1 месяц <br>
            +150,07%
          </button>
          <button class="btn btn-silver mr-3">
            1 месяц <br>
            +150,07%
          </button>
          <button class="btn btn-silver mr-3">
            1 месяц <br>
            +150,07%
          </button>
          <button class="btn btn-silver ">
            1 месяц <br>
            +150,07%
          </button>
        </div>
      </div>
    </section>

    <section>
      <img src="../assets/img/issuer.jpg" alt="">
    </section>

    <section class="about">
      <h2 class="font-weight-bold" style="font-size: 24px; margin: 40px 0;">О компании</h2>
      <span v-html="issuer.desc"></span>
    </section>
    <!--    <br><br>-->
    <!--    <div class="row">-->
    <!--      <div class="col-3">-->
    <!--        <p>Капитализация</p>-->
    <!--        <p>Выручка</p>-->
    <!--        <p>Свой капитал</p>-->
    <!--      </div>-->
    <!--      <div class="col-3">-->
    <!--        <p>139,016 млрд UZS</p>-->
    <!--        <p>139,016 млрд UZS</p>-->
    <!--        <p>139,016 млрд UZS</p>-->
    <!--      </div>-->
    <!--      <div class="col-3">-->
    <!--        <p>139,016 млрд UZS</p>-->
    <!--        <p>139,016 млрд UZS</p>-->
    <!--        <p>139,016 млрд UZS</p>-->
    <!--      </div>-->
    <!--      <div class="col-3">-->
    <!--        <p>139,016 млрд UZS</p>-->
    <!--        <p>139,016 млрд UZS</p>-->
    <!--        <p>139,016 млрд UZS</p>-->
    <!--      </div>-->
    <!--    </div>-->
    <br><br>
    <section>

      <!--      <br><br>-->
      <span class="font-weight-bold">Справки по телефонам:</span> 78 141-90-19, 78 141-93-23
      <br><br>
      <span class="font-weight-bold">Официальный вэб-сайт:</span> www.agmk.uz
      <br><br>
      <span class="font-weight-bold">Адрес электронной почты:</span> info@agmk.uz
    </section>
    <section class="about">
      <div class="row">
        <div class="col-6">
          <p class="font-weight-bold" style="font-size: 24px; margin: 40px 0;">Итоги торгов</p>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-end">
          <button class="btn sort-button">1 д</button>
          <button class="btn btn-silver mr-2">1 неделя</button>
          <button class="btn btn-silver mr-2">1 мес</button>
          <button class="btn btn-silver mr-2">Все</button>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <table class="table table-borderless table-striped">
            <thead>
            <tr class="py-3">
              <th scope="col">Изменение</th>
              <th scope="col">Кол-во</th>
              <th scope="col">Сумма торгов (UZS)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row" class="text-green">+120</th>
              <td>1 985</td>
              <td>1 985</td>
            </tr>
            </tbody>
          </table>
          <table class="table table-borderless table-striped">
            <thead>
            <tr class="py-3">
              <th scope="col">Изменение</th>
              <th scope="col">Кол-во</th>
              <th scope="col">Сумма торгов (UZS)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row" class="text-green">+120</th>
              <td>1 985</td>
              <td>1 985</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-8">
          <table class="table table-borderless table-striped">
            <thead>
            <tr class="py-3">
              <th scope="col">Время</th>
              <th scope="col">Цена</th>
              <th scope="col">Изменение</th>
              <th scope="col">Кол-во</th>
              <th scope="col">Сумма торгов (UZS)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">19.04.2021 | 16:01</th>
              <td>5 400.00 UZS</td>
              <td class="text-green">+120</td>
              <td>1 985</td>
              <td>10 719 000.00</td>
            </tr>
            <tr>
              <th scope="row">19.04.2021 | 16:01</th>
              <td>5 400.00 UZS</td>
              <td class="text-green">+120</td>
              <td>1 985</td>
              <td>10 719 000.00</td>
            </tr>
            <tr>
              <th scope="row">19.04.2021 | 16:01</th>
              <td>5 400.00 UZS</td>
              <td class="text-green">+120</td>
              <td>1 985</td>
              <td>10 719 000.00</td>
            </tr>
            <tr>
              <th scope="row">19.04.2021 | 16:01</th>
              <td>5 400.00 UZS</td>
              <td class="text-green">+120</td>
              <td>1 985</td>
              <td>10 719 000.00</td>
            </tr>
            <tr>
              <th scope="row">19.04.2021 | 16:01</th>
              <td>5 400.00 UZS</td>
              <td class="text-green">+120</td>
              <td>1 985</td>
              <td>10 719 000.00</td>
            </tr>
            <tr>
              <th scope="row">19.04.2021 | 16:01</th>
              <td>5 400.00 UZS</td>
              <td class="text-green">+120</td>
              <td>1 985</td>
              <td>10 719 000.00</td>
            </tr>
            <tr>
              <th scope="row">19.04.2021 | 16:01</th>
              <td>5 400.00 UZS</td>
              <td class="text-green">+120</td>
              <td>1 985</td>
              <td>10 719 000.00</td>
            </tr>
            <tr>
              <th scope="row">19.04.2021 | 16:01</th>
              <td>5 400.00 UZS</td>
              <td class="text-green">+120</td>
              <td>1 985</td>
              <td>10 719 000.00</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <div class="row">
      <div class="col-6">
        <p class="font-weight-bold" style="font-size: 24px; margin: 40px 0;">История сделок</p>
      </div>
      <div class="col-6 d-flex align-items-center justify-content-end">
        <span class="mr-2 font-weight-bold">Выберите дату</span>
        <button class="btn sort-button">12.03.2021</button>
        <button class="btn sort-button">12.04.2021</button>
        <button class="btn sort-button">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12 4C11.4477 4 11 4.44772 11 5V12.1575L7.75748 8.91501L6.34326 10.3292L12.0001 15.9861L17.657 10.3292L16.2428 8.91501L13 12.1578V5C13 4.44772 12.5523 4 12 4ZM6 14H4V18C4 19.1046 4.89543 20 6 20H18C19.1046 20 20 19.1046 20 18V14H18V18H6V14Z"
                  fill="#0F69FF" />
          </svg>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <img src="../assets/img/graph.jpg" alt="" class="mt-3"><br>
        <img src="../assets/img/graph.jpg" alt="">
      </div>
      <div class="col-8">
        <table class="table table-borderless table-striped">
          <thead>
          <tr class="py-3">
            <th scope="col">Время</th>
            <th scope="col">Цена</th>
            <th scope="col">Изменение</th>
            <th scope="col">Кол-во</th>
            <th scope="col">Сумма торгов (UZS)</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">19.04.2021 | 16:01</th>
            <td>5 400.00 UZS</td>
            <td class="text-green">+120</td>
            <td>1 985</td>
            <td>10 719 000.00</td>
          </tr>
          <tr>
            <th scope="row">19.04.2021 | 16:01</th>
            <td>5 400.00 UZS</td>
            <td class="text-green">+120</td>
            <td>1 985</td>
            <td>10 719 000.00</td>
          </tr>
          <tr>
            <th scope="row">19.04.2021 | 16:01</th>
            <td>5 400.00 UZS</td>
            <td class="text-green">+120</td>
            <td>1 985</td>
            <td>10 719 000.00</td>
          </tr>
          <tr>
            <th scope="row">19.04.2021 | 16:01</th>
            <td>5 400.00 UZS</td>
            <td class="text-green">+120</td>
            <td>1 985</td>
            <td>10 719 000.00</td>
          </tr>
          <tr>
            <th scope="row">19.04.2021 | 16:01</th>
            <td>5 400.00 UZS</td>
            <td class="text-green">+120</td>
            <td>1 985</td>
            <td>10 719 000.00</td>
          </tr>
          <tr>
            <th scope="row">19.04.2021 | 16:01</th>
            <td>5 400.00 UZS</td>
            <td class="text-green">+120</td>
            <td>1 985</td>
            <td>10 719 000.00</td>
          </tr>
          <tr>
            <th scope="row">19.04.2021 | 16:01</th>
            <td>5 400.00 UZS</td>
            <td class="text-green">+120</td>
            <td>1 985</td>
            <td>10 719 000.00</td>
          </tr>
          <tr>
            <th scope="row">19.04.2021 | 16:01</th>
            <td>5 400.00 UZS</td>
            <td class="text-green">+120</td>
            <td>1 985</td>
            <td>10 719 000.00</td>
          </tr>
          <tr>
            <th scope="row">19.04.2021 | 16:01</th>
            <td>5 400.00 UZS</td>
            <td class="text-green">+120</td>
            <td>1 985</td>
            <td>10 719 000.00</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <section class="news mt-4">
      <p class="font-weight-bold" style="font-size: 24px;">Новости брокера</p>

      <news-card
        text="В соответствии с Указом Президента Республики Узбекистан от 27.10.2020 ПФ-6096 51% доля государства в уставном капитале АО «Qizilqumsement» выставлены на биржевые торги. Настоящим доводим до Вашего сведения, что в соответствии с решением Правления АО РФБ «Тошкент» №40 от 15.04.2021 г. вносятся изменения и дополнения в График торгов в секциях"></news-card>
      <news-card
        text="В соответствии с Указом Президента Республики Узбекистан от 27.10.2020 ПФ-6096 51% доля государства в уставном капитале АО «Qizilqumsement» выставлены на биржевые торги. Настоящим доводим до Вашего сведения, что в соответствии с решением Правления АО РФБ «Тошкент» №40 от 15.04.2021 г. вносятся изменения и дополнения в График торгов в секциях"></news-card>
      <news-card
        text="В соответствии с Указом Президента Республики Узбекистан от 27.10.2020 ПФ-6096 51% доля государства в уставном капитале АО «Qizilqumsement» выставлены на биржевые торги. Настоящим доводим до Вашего сведения, что в соответствии с решением Правления АО РФБ «Тошкент» №40 от 15.04.2021 г. вносятся изменения и дополнения в График торгов в секциях"></news-card>

    </section>
  </div>
</template>

<script>
import IssuerHeader from '../components/cards/IssuerHeader';
import NewsCard from '../components/cards/NewsCard';
import VueTypes from 'vue-types';

export default {
  name: 'IssuerPage',
  props: {
    issuerId: VueTypes.any.isRequired,
  },
  data() {
    return {
      issuer: null,
    };
  },
  components: {
    IssuerHeader,
    NewsCard,
  },
  async created() {
    await this.$store.dispatch('common/title', 'Эмитенты');
    const { data: issuer } = await this.$axios.get(`issuer/${this.issuerId}`);
    this.issuer = issuer[1] ?? issuer[0];
  },
};
</script>

<style lang="scss" scoped>
  .sort-button {
    border-radius: .5rem;
    background-color: $darkgrey;
    color: $blue;
    font-weight: bold;
    padding: 12px 24px;
    margin-right: .5rem;

    &:last-child {
      margin-right: 0;
    }
  }
</style>