<template>
  <div class="base">
    <!--    <p class="theme">{{ themeText[selectedTheme] }}</p>-->
    <!--  Videos  -->
    <div v-if="selectedTheme === 'video' || selectedTheme === ''" class=" video">
      <p class="theme">{{ themeText.video }}</p>
      <div class="row">
        <div class="head-row">
          <select name="themes" @change="themeChange" class="mr-2">
            <option value="" disabled selected hidden>Выберите тему</option>
            <option
              v-for="(theme, index) in themes"
              :key="index"
              :value="theme.value"
            >
              {{ theme.text }}
            </option>
          </select>
          <select name="drinks" required>
            <option value="" disabled selected hidden>Уровень</option>
          </select>
        </div>
      </div>
      <div class="row mt-4">
        <div data-aos="fade-right"
           data-aos-delay="200" class="col-4">
          <card />
        </div>
        <div data-aos="fade-down"
           data-aos-delay="200" class="col-4">
          <card />
        </div>
        <div data-aos="fade-left"
           data-aos-delay="200" class="col-4">
          <card />
        </div>
      </div>
      <div class="show-all">
        <div data-aos="fade-up"
             data-aos-delay="100" class="btn btn-outline-blue">Открыть все</div>
      </div>
    </div>
    <!--  Articles  -->
    <div v-if="selectedTheme === 'articles' || selectedTheme === ''" class="articles">
      <p class="theme">{{ themeText.articles }}</p>
      <div class="row">
        <div class="head-row">
          <select name="themes" @change="themeChange" class="mr-2">
            <option value="" disabled selected hidden>Выберите тему</option>
            <option
              v-for="(theme, index) in themes"
              :key="index"
              :value="theme.value"
            >
              {{ theme.text }}
            </option>
          </select>
          <select name="drinks" required>
            <option value="" disabled selected hidden>Уровень</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-6" data-aos="fade-right"
           data-aos-delay="100">
          <card />
        </div>
        <div class="col-6" data-aos="fade-left"
           data-aos-delay="100">
          <card />
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-4" data-aos="fade-right"
           data-aos-delay="100">
          <card />
        </div>
        <div class="col-4" data-aos="fade-up"
           data-aos-delay="100">
          <card />
        </div>
        <div class="col-4" data-aos="fade-left"
           data-aos-delay="100">
          <card />
        </div>
      </div>
      <div class="show-all">
        <button data-aos="fade-up"
                data-aos-delay="100" class="btn btn-outline-blue">Открыть все</button>
      </div>
    </div>
  </div>
</template>

<script>
import Card from '../components/cards/Card';

export default {
  name: 'KnowladgePage',
  components: {
    Card,
  },
  data() {
    return {
      themeText: {
        video: 'Видеокурсы',
        articles: 'Статьи',
      },
      themes: [{
        value: 'video',
        text: 'Видеокурсы',
      },
        {
          value: 'articles',
          text: 'Статьи',
        },
      ],
      selectedTheme: '',
    };
  },
  created() {
    this.$store.dispatch('common/title', 'База знаний');
  },
  methods: {
    themeChange(event) {
      this.selectedTheme = event.target.value;
    },
  },
};
</script>

<style lang="scss" scoped>
  .base {
    padding-bottom: 100px;
    .theme {
      font-weight: 500;
      font-size: 24px;
      line-height: 40px;
      color: #081729;
      margin: 28px 0 1rem 0;
    }

    .head-row {
      margin-bottom: 60px;

      select {
        padding: 18px 32px;
        background: $grey;
        color: $black;
        border: none;
        border-radius: 16px;
      }
    }

    .articles, .video {
      .show-all {
        text-align: center;
        margin: 48px 110px;
      }
    }
  }
</style>