<template>
  <div class="brokers-page">
    <div class="row">
      <div class="col-3 d-flex align-items-center">
        <p class="title">Брокеры</p>
      </div>
      <div class="col-9 d-flex align-items-center justify-content-end">
        <span class="font-weight-bold mr-3">Фильтр:</span>
        <select name="themes" class="mr-3">
          <option value="" disabled selected hidden>Все</option>
          <option
            v-for="(theme, index) in sort"
            :key="index"
            :value="theme.value"
          >
            {{ theme.text }}
          </option>
        </select>
        <select class="mr-3" name="drinks" required>
          <option value="" disabled selected hidden>По убыванию</option>
        </select>
        <search-input />
      </div>
    </div>
    <vue-loaders v-if="loading" name="ball-beat" color="blue" class="d-flex justify-content-center mt-5" />

    <div v-else>
      <div v-if="brokers.length > 0" class="list">
        <broker-card
          v-for="broker in brokers"
          :key="broker.id"
          :broker="broker"
          :isSubscribed="true"
          data-aos="fade-up"
          data-aos-delay="100"
        ></broker-card>
      </div>
      <div v-else class="text-center font-weight-bold" style="font-size: 24px; margin-top: 20%">
        Malumotlar hozircha yo'q
      </div>
    </div>
  </div>
</template>

<script>
import BrokerCard from '../components/cards/BrokerCard';
import SearchInput from '../components/forms/SearchInput';

export default {
  name: 'BrokersPage',
  data() {
    return {
      sort: [
        { value: 'all', text: 'Все' },
        { value: 'count', text: 'Кол-во сделок' },
        { value: 'how', text: 'Объем сделок' },
        { value: 'rating', text: 'Рейтинг' },
      ],
      brokers: [],
      loading: false,
    };
  },
  computed: {
    user() {
      return this.$store.getters['auth/user'];
    },
  },
  components: {
    BrokerCard,
    SearchInput,
  },
  async created() {
    await this.$store.dispatch('common/title', '');
    try {
      this.loading = true;
      const { data: brokers } = await this.$axios.get(`user-broker/${this.user.id}`);
      this.brokers = brokers.data.brokers;
      this.loading = false;
    } catch (e) {
      this.loading = false;
    }
  },
};
</script>

<style lang="scss" scoped>
  .brokers-page {
    .title {
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
    }

    .list {
      margin-top: 48px;
    }

    select {
      padding: 18px 32px;
      background: $grey;
      color: $black;
      border: none;
      border-radius: 16px;
    }
  }
</style>