<template>
  <div class="issuers-page">
    <div class="row">
      <div class="col-3 d-flex align-items-center">
        <p class="title"></p>
      </div>
      <div class="col-9 d-flex align-items-center justify-content-end mb-4">
        <span class="font-weight-bold mr-3">Фильтр:</span>
        <select name="themes" class="mr-3">
          <option value="" disabled selected hidden>Все</option>
          <option
            v-for="(theme, index) in sort"
            :key="index"
            :value="theme.value"
          >
            {{ theme.text }}
          </option>
        </select>
        <select class="mr-3" name="drinks" required>
          <option value="" disabled selected hidden>По убыванию</option>
        </select>
        <search-input placeholder="Поиск по эмитентам" @search-handler="onSearch" />
      </div>
    </div>

    <vue-loaders v-if="loading" name="ball-beat" color="blue" class="d-flex justify-content-center mt-5" />
    <div v-else>
      <div v-if="issuersData.length > 0" class="row">
        <div
          v-for="issuer in issuersData"
          :key="issuer.id"
          class="col-4"
          data-aos="fade-right"
          data-aos-delay="100"
        >
          <issuer-card :issuer-id="issuer.id" :issuer="issuer.info[0]" :is-mine="true"/>
        </div>
      </div>
      <div v-else class="text-center font-weight-bold" style="font-size: 24px; margin-top: 20%">
        Malumotlar hozircha yo'q
      </div>
    </div>

  </div>
</template>

<script>
import SearchInput from '../components/forms/SearchInput';
import IssuerCard from '../components/cards/IssuerCard';

export default {
  name: 'MyIssuersPage',
  components: {
    SearchInput,
    IssuerCard,
  },
  computed: {
    user() {
      return this.$store.getters['auth/user'];
    },
  },
  data() {
    return {
      sort: [
        { value: 'all', text: 'Все' },
        { value: 'count', text: 'Кол-во сделок' },
        { value: 'how', text: 'Объем сделок' },
        { value: 'rating', text: 'Рейтинг' },
      ],
      issuersData: [],
      loading: false,
    };
  },
  methods: {
    onSearch(issuerName) {
      console.log(issuerName);
      const result = this.issuers.filter(issuer => {
        if (issuer.info[0].isu_nm) {
          return issuerName.toLowerCase().split(' ').every(searchValue => issuer.info[0].isu_nm.toLowerCase().includes(searchValue));
        }
      });
      console.log(result);
      this.issuersData = result;
    },
  },
  async created() {
    await this.$store.dispatch('common/title', '');
    this.loading = true;
    const { data: response } = await this.$axios.get(`user-issuer/${this.user.id}`);

    if (response.status) {
      // todo: info qo'shish kere
      this.issuersData = response.data.issuers;
      this.loading = false;
    }
  },
};
</script>

<style lang="scss" scoped>
  .issuers-page {
    padding-bottom: 100px;

    .title {
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
    }

    .list {
      margin-top: 48px;
    }

    select {
      padding: 18px 32px;
      background: $grey;
      color: $black;
      border: none;
      border-radius: 16px;
    }

  }
</style>