<template>
  <div>
    Screener
  </div>
</template>

<script>
export default {
  name: 'ScreenerPage',
  created() {
    this.$store.dispatch('common/title', '');
  },
};
</script>

<style scoped>

</style>