<template>
  <div class="securities">
    <vue-tabs
      class="tabs"
      type="pills"
      active-tab-color="rgba(11, 105, 255, 0.1"
      active-text-color="#0F69FF"
    >
      <v-tab title="Все" class="all">
        <div class="slider-row d-flex justify-content-end my-3">
          <div class="w-33">
            <range-slider data-aos="fade-left"
                          data-aos-delay="100" @change="onChange" />
          </div>
        </div>
        <bootstrap-table data-aos="fade-down"
                         data-aos-delay="100" />
        <div class="text-center">
          <button data-aos="fade-up"
                  data-aos-delay="100" class="btn btn-blue">Показать еще
          </button>
        </div>
      </v-tab>
      <v-tab title="Акции">
        <div class="slider-row d-flex justify-content-between my-4">
          <div class="d-flex justify-content-start">
            <router-link to="/" class="mr-4">Лидеры по доходности</router-link>
            <router-link to="/">Лидеры роста за день</router-link>
          </div>
          <div class="w-33">
            <range-slider @change="onChange" />
          </div>
        </div>
        <bootstrap-table />
        <div class="text-center">
          <button class="btn btn-blue">Показать еще</button>
        </div>
      </v-tab>
      <v-tab title="Облигации">
        Облигации
      </v-tab>
    </vue-tabs>
  </div>
</template>

<script>
import RangeSlider from '../components/forms/RangeSlider';
import BootstrapTable from '../components/table/BootstrapTable';

export default {
  name: 'SecuritiesPage',
  components: {
    RangeSlider,
    BootstrapTable,
  },
  created() {
    this.$store.dispatch('common/title', 'Ценные бумаги');
  },
  methods: {
    onChange({ value, index }) {
      console.log(value, index);
    },
  },
};
</script>

<style lang="scss" scoped>
  .securities {
    padding-bottom: 100px;
  }
</style>