<template>
  <div>
    <vue-tabs
      class="tabs"
      type="pills"
      active-tab-color="rgba(11, 105, 255, 0.1"
      active-text-color="#0F69FF"
    >
      <v-tab title="Аккаунт" class="account">
        <div class="uploader">
          <div v-if="!imagePreview" class="avatar"></div>
          <img v-else :src="imagePreview" class="avatar" alt="user-avatar" />
          <input id="uploader-photo" type="file" accept="*.jpg" hidden @change="uploadImage">
          <label for="uploader-photo" class="btn btn-outline-blue">Выбрать фото</label>
          <button class="btn btn-silver" @click="deleteImage">Удалить фото</button>
        </div>
        <form @submit.prevent="onUserInfoChange">
          <div class="form-row fio-username">
            <div class="col-6">
              <input-material class="current" :top-label="true" label="Ф.И.О." />
            </div>
            <div class="col-6">
              <input-material class="current" :top-label="true" label="Имя пользователя" />
            </div>
          </div>
          <div class="form-row email-phone">
<!--            <div class="col-6">-->
<!--              <input-material class="current" :top-label="true" label="Email" type="email" />-->
<!--            </div>-->
            <div class="col-12">
              <input-material class="current" :top-label="true" label="Телефон" type="number" />
            </div>
          </div>
          <p class="text-silver">Уведомления</p>

          <div class="checks">
            <input v-model="isNews" id="news" type="checkbox">
            <label class="form-check-label news" for="news">Новости</label>
            <br>

            <input v-model="isMarket" id="torg" type="checkbox">
            <label class="form-check-label torg" for="torg">Торговля</label>
            <br>

            <input v-model="isTrade" id="bazaar" type="checkbox">
            <label class="form-check-label bazaar" for="bazaar">Рынок</label>
          </div>

          <button class="btn btn-blue">Сохранить</button>
        </form>
      </v-tab>

      <v-tab title="Пароли" class="password">
        <form @submit.prevent="onChangePassword" action="">
          <input-material type="password" class="current" :top-label="true" label="Текущий пароль" />
          <input-material type="password" class="new" :top-label="true" label="Новый пароль" />
          <input-material type="password" class="confirm" :top-label="true" label="Подтверждение нового пароля" />
          <button type="submit" class="btn btn-blue">Сохранить</button>
        </form>
      </v-tab>
    </vue-tabs>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import InputMaterial from '../components/forms/InputMaterial';

export default {
  name: 'SettingsPage',
  data() {
    return {
      imagePreview: localStorage.getItem('avatar'),
      isNews: false,
      isMarket: false,
      isTrade: false,
    };
  },
  components: {
    InputMaterial,
  },
  computed: {
    ...mapGetters({
      user: 'auth/user',
    }),
  },
  created() {
    this.$store.dispatch('common/title', 'Настройки');
  },
  methods: {
    async onUserInfoChange(e) {
      const name = e.target[0].value;
      const username = e.target[1].value;
      const phone = e.target[3].value;

      try {
        const { data: user } = await this.$axios.post(`user-info/edit/${this.user.id}`, {
          name,
          username,
          number: phone,
          news: this.isNews,
          trade: this.isTrade,
          market: this.isMarket,
        });

        if (user.status === true) {
          this.$toastSuccess(user.data.message);
        } else {
          user.errors.forEach(error => this.$toastError(error));
        }
      } catch (e) {
        this.$toastError(e.message);
      }
    },

    async onChangePassword(e) {
      const old = e.target[0].value;
      const current = e.target[1].value;
      const confirm = e.target[2].value;

      try {
        const { data: user } = await this.$axios.post(`user-password/update/${this.user.id}`, {
          old_password: old,
          password: current,
          password_confirmation: confirm
        });

        if (user.status === true) {
          this.$toastSuccess(user.data.message);
        } else {
          user.errors.forEach(error => this.$toastError(error));
        }
      } catch (e) {
        this.$toastError(e.message);
      }
    },

    uploadImage(e) {
      const file = e.target.files[0];

      if (file) {
        const reader = new FileReader();
        reader.onload = ev => {
          localStorage.setItem('avatar', ev.target.result);
          location.reload();
        };

        reader.readAsDataURL(file);
      }
    },

    deleteImage() {
      const hasImage = !!localStorage.getItem('avatar');

      if (hasImage && window.confirm('Delete Profile Photo ?')) {
        localStorage.removeItem('avatar');
        window.location.reload();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
  .tabs {
    margin-top: 3rem;

    .account {
      width: 564px;

      .uploader {
        display: flex;
        align-items: center;
        padding: 40px 0 32px 0;
        border-bottom: 1px solid #E4E4E4;

        .avatar {
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          background-color: $blue;
          width: 80px;
          height: 80px;
          margin-right: 1rem;
        }


      }

      form {
        margin-top: 72px;

        .email-phone {
          margin-top: 52px;
        }

        p.text-silver {
          margin-top: 35px;
          margin-bottom: 1rem;
        }

        .checks {
          padding: 24px;
          background-color: lighten(#E4E4E4, 7%);

          .news, .torg {
            margin-bottom: 20px;
          }

          input {
            margin-right: .5rem;
          }

          input[disabled] {
            color: $silver
          }
        }

        button {
          margin: 40px 0;
          padding: 12px 24px;
          border-radius: $radius;
        }
      }
    }

    .password {
      margin-top: 60px;
      width: 430px;

      .current, .new, .confirm {
        margin-bottom: 4rem;
      }

      button {
        padding: 12px 24px;
        border-radius: $radius;
      }
    }
  }
</style>