<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <span>
              Заявка на покупку
            </span>
            <button class="btn close-button" @click="$emit('close')">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 8L8 16" stroke="#11142D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M16 16L8 8" stroke="#11142D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
          </div>

          <div class="modal-body">
            <div class="d-flex justify-content-between mb-3">
              <div class="d-flex">
                <div
                  style="border-radius: 8px; background-color: #C4C4C4; width: 48px; height: 48px; margin-right: 16px;"></div>
                <div>
                  <p>{{issuerName}}</p>
                  <p class="text-blue">{{issuerAbbr}}</p>
                </div>
              </div>
              <div class="text-right">
                <p class="font-weight-bold">{{ price }} UZS</p>
                <p class="text-muted">Текущая цена за 1 акцию</p>
              </div>
            </div>
            <div v-if="!success" class="d-flex justify-content-between">
              <div class="d-flex">
                <div
                  class="d-flex justify-content-center align-items-center"
                  style="border-radius: 8px; background-color: rgba(215, 223, 233, 0.24); width: 48px; height: 48px; margin-right: 16px;"
                >
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M20 1H4C2.34315 1 1 2.34315 1 4V20C1 21.6569 2.34315 23 4 23H20C21.6569 23 23 21.6569 23 20V4C23 2.34315 21.6569 1 20 1ZM8 21H4C3.44772 21 3 20.5523 3 20V18.82C3.32067 18.9364 3.65886 18.9973 4 19H8V21ZM8 17H4C3.44772 17 3 16.5523 3 16V14.82C3.32067 14.9364 3.65886 14.9973 4 15H8V17ZM8 13H4C3.44772 13 3 12.5523 3 12V4C3 3.44772 3.44772 3 4 3H8V13ZM14 21H10V15H14V21ZM14 13H10V3H14V13ZM21 20C21 20.5523 20.5523 21 20 21H16V19H20C20.3411 18.9973 20.6793 18.9364 21 18.82V20ZM21 16C21 16.5523 20.5523 17 20 17H16V15H20C20.3411 14.9973 20.6793 14.9364 21 14.82V16ZM21 12C21 12.5523 20.5523 13 20 13H16V3H20C20.5523 3 21 3.44772 21 4V12ZM18 7C17.4477 7 17 7.44772 17 8C17 8.55228 17.4477 9 18 9C18.5523 9 19 8.55228 19 8C19 7.44772 18.5523 7 18 7ZM6 9C6.55228 9 7 8.55228 7 8C7 7.44772 6.55228 7 6 7C5.44772 7 5 7.44772 5 8C5 8.55228 5.44772 9 6 9Z"
                          fill="#0F69FF" />
                  </svg>
                </div>
                <div>
                  <p>Демо-счет</p>
                  <p class="text-muted">Виртуальный счет</p>
                </div>
              </div>
              <div class="text-right">
                <p class="font-weight-bold">{{calculateResult}} UZS</p>
                <p class="text-muted">Ваш баланс</p>
              </div>
            </div>
            <br v-if="!success">
            <hr>
            <br v-if="!success"><br v-if="!success">
            <div v-if="!success" class="row">
              <div class="col-md-6">
                <div class="material-text-field">
                  <span>Количество акций</span>
                  <input v-model="amount" type="number" required>
                </div>
                <!--                <input-material ref="amount" type="number" label="Количество акций"></input-material>-->
              </div>
              <div class="col-md-6">
                <div class="material-text-field">
                  <span>Итоговая сумма</span>
                  <input v-model="summary" type="number" disabled>
                </div>
              </div>
            </div>
            <div class="row" v-else>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-6">
                    <p style="font-size: 14px;" class="text-muted">Количество акций</p>
                    <p class="font-weight-bold">{{ amount }}</p>
                  </div>
                  <div class="col-6">
                    <p style="font-size: 14px;" class="text-muted">Итоговая сумма</p>
                    <p class="font-weight-bold">{{ summary }} UZS</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex" style="margin-top: 56px;">
            <div class="mr-2">
              <svg v-if="!success" width="24" height="24" viewBox="0 0 24 24" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM12 20C7.58172 20 4 16.4183 4 12C4 7.58172 7.58172 4 12 4C16.4183 4 20 7.58172 20 12C20 16.4183 16.4183 20 12 20ZM12 6.05115C11.4477 6.05115 11 6.49886 11 7.05115C11 7.60343 11.4477 8.05115 12 8.05115C12.5523 8.05115 13 7.60343 13 7.05115C13 6.49886 12.5523 6.05115 12 6.05115ZM11 10.9794C11 10.4271 11.4477 9.97937 12 9.97937C12.5523 9.97937 13 10.4271 13 10.9794V16.9794C13 17.5317 12.5523 17.9794 12 17.9794C11.4477 17.9794 11 17.5317 11 16.9794V10.9794Z"
                      fill="#FFB800" />
              </svg>
              <svg v-else width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1ZM3 12C3 16.9706 7.02944 21 12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12ZM6 12.071L10.2426 16.3137L17.3137 9.24262L15.8995 7.8284L10.2426 13.4853L7.41421 10.6568L6 12.071Z"
                      fill="#2DCA73" />
              </svg>

            </div>
            <div v-if="!success" style="font-size: 14px;">
              Акции будут куплены на виртуальный демо-счет.
              Для того, чтобы начать торговать на реальном счете, необходимо открыть брокерский счёт.
            </div>
            <div v-else style="font-size: 14px;">
              Акции успешно куплены на виртуальный демо-счет
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <button v-if="!success" class="btn btn-blue mx-auto" @click="confirm">
              Готово
            </button>
            <button v-else class="btn btn-blue mx-auto" @click="$emit('close')">
              Готово
            </button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import VueTypes from 'vue-types'
// import InputMaterial from '../forms/InputMaterial';

export default {
  name: 'Modal',
  props: {
    price: VueTypes.number.isRequired,
    issuerName: VueTypes.string.isRequired,
    issuerAbbr: VueTypes.string.isRequired
  },
  components: {
    // InputMaterial,
  },
  data() {
    return {
      success: false,
      // price: 5400,
      amount: 0,
      sum: 0,
    };
  },
  computed: {
    calculateResult() {
      return this.$store.getters['common/getCalculate'];
    },
    summary() {
      return this.amount * this.price;
    },
  },
  methods: {
    confirm() {
      this.success = true;
      this.$store.dispatch('common/calculate', {
        sum: this.summary,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
  @import "./modal.css";

  .material-text-field {
    position: relative;

    span {
      position: absolute;
      top: -2rem;
      left: .3rem;
      font-weight: 600;
      color: $silver;
    }

    label {
      position: absolute;
      font-size: 1rem;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;
      color: $silver;
      font-weight: 600;
      padding: 0 0.3rem;
      margin: 0 0.5rem;
      transition: .1s ease-out;
      transform-origin: left top;
      pointer-events: none;
    }

    input {
      width: 100%;
      font-size: 14px;
      outline: none;
      background: lighten(#E4E4E4, 7%);
      /*opacity: .3;*/
      mix-blend-mode: normal;
      border: none;
      border-radius: $radius;
      padding: 1rem 0.7rem;
      color: $black;
      font-weight: 600;
      transition: 0.1s ease-out;

      &:focus {
        border: 1px solid $blue;
        color: $black;
        background-color: #fff;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
      }

      &:focus + label {
        color: $blue;
        background-color: #fff;
        font-weight: 700;
        top: 0;
        transform: translateY(-50%) scale(.9);
      }

      &:not(:placeholder-shown) + label {
        top: 0;
        transform: translateY(-50%) scale(.9);
      }
    }
  }

  .modal-header {
    position: relative;

    span {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
    }
  }

  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 1px 1px #E3E6EC;
  }

  button.mx-auto {
    margin: 56px 100px;
    width: 412px;
    background-color: $blue;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }

</style>