<template>
  <nav class="navbar navbar-light">

    <search-input />

    <div class="ml-auto">
      <button class="btn btn-green">Рынок открыт</button>

      <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M14 7V7.28988C16.8915 8.15043 19 10.829 19 14V19C19.5523 19 20 19.4477 20 20C20 20.5523 19.5523 21 19 21H5C4.44772 21 4 20.5523 4 20C4 19.4477 4.44772 19 5 19V14C5 10.829 7.10851 8.15043 10 7.28988V7C10 5.89543 10.8954 5 12 5C13.1046 5 14 5.89543 14 7ZM7 19H17V14C17 11.2386 14.7614 9 12 9C9.23858 9 7 11.2386 7 14V19ZM14 21H10C10 22.1046 10.8954 23 12 23C13.1046 23 14 22.1046 14 21Z"
              fill="#0B69FF" />
        <circle cx="18" cy="8" r="8" fill="#FF6628" />
        <path d="M17.7731 11V6.568L16.8531 6.784V6L18.2051 5.4H18.8371V11H17.7731Z" fill="white" />
      </svg>


      <language-picker class="bg-white lang" />

      <router-link v-if="!avatar" :to="{ name: 'settings' }" tag="button" class="avatar">AA</router-link>
      <img
        v-else
        :class="{ avatar: true, uploaded: avatar }"
        :src="avatar"
        alt="avatar"
        @click="$router.push({ name: 'settings' })"
      >
    </div>

  </nav>
</template>

<script>
import LanguagePicker from './forms/LanguagePicker';
import SearchInput from './forms/SearchInput';

export default {
  name: 'NavbarApp',
  data() {
    return {
      avatar: localStorage.getItem('avatar'),
    };
  },
  components: {
    LanguagePicker,
    SearchInput,
  },
};
</script>

<style lang="scss" scoped>
  .navbar {
    height: 132px;
    padding: 40px 72px;
    position: sticky;
    top: 0;
    background: $white;
    z-index: 10;

    input {
      width: 548px;
      height: 56px;
      -webkit-border-radius: $radius;
      -moz-border-radius: $radius;
      border-radius: $radius;
      border: 1px solid $grey;
      background: url('../assets/icons/search.svg') no-repeat right 10px center;

      &:focus {
        box-shadow: none;
      }

      &::placeholder {
        font-size: 14px;
      }
    }

    .btn-green {
      background-color: $green;
      color: $white;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      margin-right: 50px;
    }

    .lang {
      margin-right: 30px;
    }

    .avatar {
      border-radius: 50%;
      background-color: $blue;
      width: 3rem;
      height: 3rem;
      color: $white;
      font-size: 14px;
      text-align: center;
      padding: 12px;
      border: none;

      &.uploaded {
        cursor: pointer;
        padding: 0;
      }
    }
  }
</style>