<template>
  <div>
    <table class="table table-hover table-borderless table-striped">
      <thead>
      <tr>
        <th
          scope="col"
          v-for="(head,index) in ['Актив', 'Базовая цена', 'Цена за шт.','Кол-во','Доходность', '']"
          :key="index"
        >
          <span class="text-secondary">{{ head }}</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(row, index) in issuers" :key="index" class="bg-light">
        <th scope="row">
          <div class="d-flex">
            <div class="w-25">
              no image
            </div>
            <div class="w-75">
              <router-link :to="{ name: 'company', params: { companyId: 3 }}">
                {{ row.isu_nm }}{{ row.isu_srt_cd }}
              </router-link>
            </div>
          </div>
        </th>
        <td>---</td>
        <td>{{ row.isu_prc }}</td>
        <td>{{ row.isu_idx }}</td>
        <td>--</td>
        <td>---</td>
        <td>
          <div class="btn-group dropleft bg-transparent">
            <button
              type="button"
              class="btn bg-transparent"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M14 6C14 7.10457 13.1046 8 12 8C10.8954 8 10 7.10457 10 6C10 4.89543 10.8954 4 12 4C13.1046 4 14 4.89543 14 6ZM14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12ZM12 20C13.1046 20 14 19.1046 14 18C14 16.8954 13.1046 16 12 16C10.8954 16 10 16.8954 10 18C10 19.1046 10.8954 20 12 20Z"
                      fill="#0C163A" />
              </svg>
            </button>
            <div class="dropdown-menu">
              <button class="dropdown-item" type="button" @click="onOpenModal(row.isu_prc, row.isu_srt_cd, row.isu_nm)">Купить</button>
              <button class="dropdown-item" type="button">Продать</button>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <modal
      v-if="showModal"
      :price="issuer_price"
      :issuer-abbr="issuer_abbr"
      :issuer-name="issuer_name"
      @close="showModal = false"
    ></modal>
  </div>
</template>

<script>
import { shuffle } from 'lodash';
import Modal from '../modal/Modal';

export default {
  name: 'BootstrapTable',
  components: {
    Modal,
  },
  data() {
    return {
      showModal: false,
      data: [
        {
          active: {
            image: 'src',
            title: '“Qizilqumsement” AJ',
            abbr: 'QZSM',
          },
          base: '5 400.00 UZS',
          price: '5 300.00 UZS',
          count: 5,
          result: '-500 UZS',
          position: '-0.9%',
        },
        {
          active: {
            image: 'src image',
            title: '“Qizilqumsement” AJ',
            abbr: 'QZSM',
          },
          base: '5 400.00 UZS',
          price: '5 300.00 UZS',
          count: 5,
          result: '-500 UZS',
          position: '-0.9%',
        },
        {
          active: {
            image: 'src image',
            title: '“Qizilqumsement” AJ',
            abbr: 'QZSM',
          },
          base: '5 400.00 UZS',
          price: '5 300.00 UZS',
          count: 5,
          result: '-500 UZS',
          position: '-0.9%',
        },
      ],
      issuers: [],
      issuer_price: null,
      issuer_name: null,
      issuer_abbr: null,
    };
  },
  methods: {
    onOpenModal(price, abbr, name) {
      this.showModal = true;
      this.issuer_price = price;
      this.issuer_abbr = abbr;
      this.issuer_name = name;
    }
  },
  async created() {
    try {
      const { data: { data: issuers } } = await this.$axios.get(`isu-info`);
      this.issuers = shuffle(issuers).splice(1, 5);
    } catch (e) {
      this.$toastError(e.message);
    }
  },
};
</script>

<style scoped>

</style>