<template>
  <div id="app">
    <component :is="shell">
      <router-view :key="$route.fullPath"></router-view>
    </component>
  </div>
</template>

<script>
import { findLast, has } from 'lodash';
import EmptyShell from './shells/EmptyShell';

export default {
  name: 'App',
  data() {
    return {
      shell: null,
    };
  },
  watch: {
    $route: {
      handler() {
        this.shell = findLast(this.$route.matched, (route) => has(route, 'meta.shell'))?.meta?.shell ?? EmptyShell;
      },
      immediate: true,
    },
  },
};
</script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

  #app {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
</style>
