<template>
  <div class="material-text-field">
    <span v-if="topLabel">{{ label }}</span>
    <input v-model="inputValue" placeholder=" " :value="value" :type="type" required>
    <label v-if="!topLabel">{{ label }}</label>
  </div>
</template>

<script>
import VueTypes from 'vue-types';

export default {
  name: 'InputMaterial',
  props: {
    type: VueTypes.string.def('text'),
    label: VueTypes.string.def('Label'),
    topLabel: VueTypes.bool.def(true),
    value: VueTypes.any,
  },
  data() {
    return {
      inputValue: null,
    };
  },
  methods: {
    getValue() {
      return this.inputValue;
    },
  },
};
</script>

<style scoped lang="scss">
  .material-text-field {
    position: relative;

    span {
      position: absolute;
      top: -2rem;
      left: .3rem;
      font-weight: 600;
      color: $silver;
    }

    label {
      position: absolute;
      font-size: 1rem;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;
      color: $silver;
      font-weight: 600;
      padding: 0 0.3rem;
      margin: 0 0.5rem;
      transition: .1s ease-out;
      transform-origin: left top;
      pointer-events: none;
    }

    input {
      width: 100%;
      font-size: 14px;
      outline: none;
      background: lighten(#E4E4E4, 7%);
      /*opacity: .3;*/
      mix-blend-mode: normal;
      border: none;
      border-radius: $radius;
      padding: 1rem 0.7rem;
      color: $black;
      font-weight: 600;
      transition: 0.1s ease-out;

      &:focus {
        border: 1px solid $blue;
        color: $black;
        background-color: #fff;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
      }

      &:focus + label {
        color: $blue;
        background-color: #fff;
        font-weight: 700;
        top: 0;
        transform: translateY(-50%) scale(.9);
      }

      &:not(:placeholder-shown) + label {
        top: 0;
        transform: translateY(-50%) scale(.9);
      }
    }
  }
</style>