<template>
  <select v-model="$i18n.locale" @change="localeChange">
    <option
      v-for="(lang, i) in languages"
      :key="`Lang${i}`"
      :value="lang.value"
    >
      {{ lang.label }}
    </option>
  </select>
</template>

<script>
export default {
  name: 'LanguagePicker',
  data() {
    return {
      languages: [
        { label: 'O\'zbek', value: 'uz' },
        { label: 'Русский', value: 'ru' },
      ],
    };
  },
  methods: {
    localeChange(event) {
      const language = event.target.value;
      localStorage.setItem('lang', language);
    },
  },
};
</script>

<style lang="scss" scoped>
  select {
    padding: 8px 12px;
    width: auto;
    height: 40px;
    background: $grey;
    color: $blue;
    border: none;
    border-radius: 16px;
  }
</style>