<template>
  <vue-slider
    v-model="value"
    :enable-cross="false"
    :process-style="{ backgroundColor: '#0F69FF' }"
    :tooltip-style="{ backgroundColor: '#0F69FF' }"
    :rail-style="{ backgroundColor: '#E7F0FF' }"
    :dot-options="{ style: { backgroundColor: '#0F69FF', tooltipFocusStyle: { backgroundColor: '#0F69FF' } } }"
    tooltip="always"
    @change="onChange"
  />
</template>

<script>
export default {
  name: 'RangeSlider',
  data() {
    return {
      value: [0, 100],
    };
  },
  methods: {
    onChange(value, index) {
      this.$emit('change',  { value, index });
    },
  },
};
</script>

<style scoped>

</style>