<template>
  <input
    v-model="search"
    type="text"
    class="form-control"
    :placeholder="placeholder"
    aria-label="Username"
    @change="searchHandler"
  >
</template>

<script>
import VueTypes from 'vue-types';

export default {
  name: 'SearchInput',
  props: {
    placeholder: VueTypes.string.def('Какую статью вам найти? Пишем об инвестициях просто'),
  },
  data() {
    return {
      search: '',
    };
  },
  methods: {
    searchHandler() {
      this.$emit('search-handler', this.search);
      this.search = '';
    },
  },
};
</script>

<style lang="scss" scoped>
  input {
    width: 548px;
    height: 56px;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
    border: 1px solid $grey;
    background: url('../../assets/icons/search.svg') no-repeat right 10px center;

    &:focus {
      box-shadow: none;
    }

    &::placeholder {
      font-size: 14px;
    }
  }
</style>