<template>
  <div>
    <div class="alert alert-error">
      <h2>Something went wrong</h2>
    </div>
    <router-link :to="{ name: 'home' }">Go Home</router-link>
  </div>
</template>

<script>
export default {
  name: 'ErrorPage',
};
</script>

<style scoped>

</style>